

<ion-content padding darkgrey >
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
  <div class="logo logo-mobile" text-center style="display:none">
    <a href="/salvum"><img width="150px" src="assets/img/logo.png"/></a>
  </div>
  <ion-list margin0 p-24-16>
  <div whitecolor  box-shadow class="login-main" >
  <ion-row>
  <ion-col col-4 darkblue2 p-24-16 disp-none>
  <div class="logo">
    <a href="/"><img width="150px" src="assets/img/logo.png"/></a>
  </div>
  <p  fnt-regular fnt-white >Nihil dignissimos modi dolor possimus dicta voluptates ratione.</p>
  
  <p  fnt-regular fnt-white >Natus possimus facere dolorum dolorem quam autem et deleniti at..</p>
  
  <p  fnt-regular fnt-white >Fuga nihil voluptatibus in temporibus repudiandae laudantium optio.</p>
  </ion-col>
  <ion-col col-8 padding-40 full-width>
  <h3  p-tb-0 heading3 fnt-bold>
  LOGIN
  </h3>
  <p  fnt-regular margin0 fnt-mobile>PLEASE ENTER YOUR EMAIL AND PASSWORD TO LOGIN.</p>
    <ion-item p-lr-0>
  
      <ion-label position="floating" fnt-regular>Email</ion-label>
      <ion-input type="text" name="su" formControlName="email"  ></ion-input>
    </ion-item>
    <div *ngIf="this.loginForm.controls['email'].touched && this.loginForm.controls['email'].invalid">
      <div class="error ion-padding" *ngIf="errorControl.email.errors?.required">
        <ion-text color="danger">Email is required.</ion-text>
      </div>
      <div class="ion-padding" *ngIf="errorControl.email.errors?.pattern">
        <ion-text color="danger">Please provide valid email.</ion-text>
      </div>
    </div>
    <ion-item p-lr-0>
      <ion-label position="floating" fnt-light fnt-regular>Password</ion-label>
      <ion-input type="password" name="sp" clearOnEdit="false" formControlName="password"></ion-input>
     </ion-item>
     <div *ngIf="this.loginForm.controls['password'].touched && this.loginForm.controls['password'].invalid">
      <div class="error ion-padding" *ngIf="errorControl.password.errors?.required">
        <ion-text color="danger">Password is required.</ion-text>
      </div>
      </div>
    <ion-item border-none br-btm-grey p-lr-0>
    <!-- <ion-label color="grey" fnt-light fnt-regular></ion-label> -->
    <ion-checkbox color="darkblue" name="test" labelPlacement="end" >Remember Me</ion-checkbox>
  </ion-item>
   <div padding p-b-0 p-lr-0>
    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid" >Sign In</ion-button>
      <!-- <button ion-button color="darkblue" block  fnt-regular type="submit">Sign In</button> -->
    </div>
  
    <p margin-bottom0 *ngIf="isBrowser == 'true'">   
    <a (click)="openLink('https://www.serrare.com/#/reset-password')" fnt-regular>Forgot Password ?</a>
    </p>
    <p margin-bottom0 *ngIf="isBrowser == 'true'">
    Don't have an account ? <a (click)="openLink('https://www.serrare.com/#/signup')" fnt-regular>Sign up</a>
     
    </p>
  
    <p margin-bottom0 *ngIf="isBrowser == 'false'" (click)="openAppBrowser('/#/reset-password')">   
      <a  fnt-regular>Forgot Password ?</a>
      </p>
      <p margin-bottom0 *ngIf="isBrowser == 'false'" (click)="openAppBrowser('/#/signup')">
      Don't have an account ? <a fnt-regular>Sign up</a>
      </p>
   </ion-col>
    </ion-row>
    </div>
  </ion-list>
  </form>
  </ion-content>
  