<app-header></app-header>

<ion-content padding lightgrey manage-job (window:resize)="ionViewDidLoad()" has-header> 
  <div ion-fixed id="calc_height{{timestamp}}" fixed-top-div>
  <ion-row main-breadcrumb>
    <ion-col>
      <ol class="breadcrumb">
        <li (click)="root()"><a>Home</a></li>
        <li class="active">Jobs</li>
      </ol>
    </ion-col>
  </ion-row>
        <ion-searchbar  searchmob (ionInput)="getItems($event)" p-5></ion-searchbar>	  
        <div button-hide *ngIf="isAssociate != '1'" p-0-3 w-100>
           <ion-button color="primary" (click)="addJob()">
              <ion-icon name="add" mar-mob-0 m-r-5></ion-icon>
              <span class="hidden-xs">Add Job </span>
           </ion-button>
           <ng-container *ngIf="jobs != ''">
              <ion-button (click)="openCloseJobs('1')" color="primary">
                 <ion-icon name="open" mar-mob-0 m-r-5></ion-icon>
                 <span class="hidden-xs">Open </span>
              </ion-button>
              <ion-button ion-button (click)="openCloseJobs('2')" color="primary">
                 <ion-icon name="close" mar-mob-0 m-r-5></ion-icon>
                 <span class="hidden-xs"> Close </span>
              </ion-button>
              <ion-button ion-button (click)="deleteMultipleJobs()" color="primary">
                 <ion-icon name="trash" mar-mob-0 m-r-5></ion-icon>
                 <span class="hidden-xs">Delete</span>
              </ion-button>
           </ng-container>
           <ion-button ion-button (click) = "openManageCompanyPage()"   color="primary">
              <ion-icon name="settings" mar-mob-0 m-r-5></ion-icon>
              <span class="hidden-xs">Manage Company</span>
           </ion-button>
           <ion-button color="primary" (click)="openBidjobsPage()">
              <ion-icon mar-mob-0 m-r-5><img style="width: 16px;margin-top: 5px;" src="assets/img/bid_icon_white.png"></ion-icon>
              <span class="hidden-xs">Bid Jobs</span>
           </ion-button> 
        </div>
        <div *ngIf="isAssociate != '1'">
           <ion-list>
              <ion-row>
                 <ion-col size="12" size-md="6" *ngIf="jobs != ''">
                   <ion-item>
                     <ion-label>Filter by:</ion-label>
                     <ion-select [(ngModel)]="filter_by" (ionChange)="jobFilter(filter_by,'1')">
                       <ion-select-option value="0">No filter</ion-select-option>
                       <ion-select-option value="date_asc">Date ascending</ion-select-option>
                       <ion-select-option value="date_desc">Date descending</ion-select-option>
                       <ion-select-option value="po_asc">PO ascending</ion-select-option>
                       <ion-select-option value="po_desc">PO descending</ion-select-option>
                       <ion-select-option value="alpha_asc">Alphabet ascending</ion-select-option>
                       <ion-select-option value="alpha_desc">Alphabet descending</ion-select-option>
                     </ion-select>
                   </ion-item>
                 </ion-col>
                 <!-- <ion-col col-3 *ngIf="jobs != ''">
                   <ion-item>
                     <ion-label>Filter by Job PO</ion-label>
                     <ion-select [(ngModel)]="filter_by_po" (ionChange)="jobFilter(filter_by_po,'po')">
                       <ion-select-option value="0">No Filter</ion-select-option>
                       <ion-select-option value="asc">Ascending</ion-select-option>
                       <ion-select-option value="desc">Descending</ion-select-option>
                     </ion-select> 
                   </ion-item> 
                 </ion-col>
                 <ion-col col-3 *ngIf="jobs != ''">
                   <ion-item>
                     <ion-label>Filter by Alphabets</ion-label>
                     <ion-select [(ngModel)]="filter_by_alpha" (ionChange)="jobFilter(filter_by_alpha,'alphabets')">
                       <ion-select-option value="0">No Filter</ion-select-option>
                       <ion-select-option value="asc">Ascending</ion-select-option>
                       <ion-select-option value="desc">Descending</ion-select-option>
                     </ion-select> 
                   </ion-item>
                 </ion-col> -->
                 <ion-col size="12" size-md="6">
                   <ion-item>
                     <ion-label>Filter by Status:</ion-label>
                     <ion-select [(ngModel)]="filter_by_status" (ionChange)="jobFilter(filter_by_status,'status')">
                       <ion-select-option value="-1">No Filter</ion-select-option>
                       <ion-select-option value="0">Pending</ion-select-option>
                       <ion-select-option value="1">Open</ion-select-option>
                       <ion-select-option value="2">Closed</ion-select-option>
                     </ion-select> 
                   </ion-item>
                 </ion-col>
              </ion-row>
           </ion-list>
        </div>   
     </div>
      <!--<div class="clearfix" id="custom_height{{timestamp}}"></div>-->
     
  
  
           <ion-list list-contact margin0 clearboth >
              <ion-row no-padding>
  
                 <ion-col size="12" size-md="6" *ngFor="let job of jobs , let indx = index "> 
                  <ion-card>
                    <ion-item-sliding #item>
                       <ion-item>
                          <ion-thumbnail item-start icon-ionic >
                             <ion-icon name="briefcase-outline" class="icon-wrap"></ion-icon>
                          </ion-thumbnail>

                          <ion-label>
                           <ion-text>
                             <h2 class="ion-text-title">{{job.job_title}} </h2>
                           </ion-text>
                           <ion-note>{{job.date_created | date:'short'}}</ion-note>
                           <ion-note color="dark" class="ion-text-wrap">
                              <p>PO No - #{{job.job_number}}</p>
                           </ion-note>
                           <ion-note color="medium" class="ion-text-wrap">
                              <p><ion-badge color="primary"> {{job.status == '0' ? 'Pending' : (job.status == '1' ? 'Open' : 'Closed')}}</ion-badge></p>
                           </ion-note>
                           <p><ion-button size="small" *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" color="primary" (click) = "tradeDashboard(job._id,job.job_title)">
                              <ion-icon name="eye" fnt20></ion-icon>
                           </ion-button>
                           <ion-button btn-hides *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" size="small" primary="secondary" (click)="editJobPage($event,job._id)">
                              <ion-icon name="create" fnt20></ion-icon>
                           </ion-button>
                           <ion-button  btn-hides *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" (click)="shareJobs(job._id,job.job_number,job.job_title,job.companyId)" size="small" color="medium">
                              <ion-icon name="share" fnt20></ion-icon>
                           </ion-button>
                           <ion-button  btn-hides *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" size="small" color="medium" (click) = "jobCalendar(job._id)">
                              <ion-icon name="calendar" fnt20></ion-icon>
                           </ion-button>
                           <ion-button btn-hides  *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" (click) = "deleteJob(job._id)" size="small" color="danger">
                              <ion-icon name="trash" fnt20></ion-icon>
                           </ion-button>
                           <ion-button btn-hides *ngIf="isAssociate == '1' || job.privileges.indexOf(userId) == -1 && isBrowser == 'true'" size="small" color="primary" (click) = "editJob(job._id)">
                              <ion-icon name="eye" fnt20></ion-icon>
                           </ion-button></p>
                           <span *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0" class="form-custom-check"   item-end  checkbox-responsive>
                              <input [ngModel]="" (change)="insertToArray($event,job._id)"  type="checkbox"  id="checkbox{{indx}}{{timestamp}}"  name="checkbox{{indx}}" class="form-check-input">
                                     <label class="form-check-label"  for="checkbox{{indx}}{{timestamp}}">    </label>
                             </span>  
                         </ion-label> 
                          <!-- </ng-container> -->
                       </ion-item>
                       <ion-item-options side="start" *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'false'">
                       
                        <ion-button (click)="shareJobs(job._id,job.job_number,job.job_title)" color="secondary">
                             <ion-icon name="share"></ion-icon>
                             Share
                          </ion-button>
                          
                          <ion-button olor="primary" (click) = "jobCalendar(job._id)">
                             <ion-icon name="calendar"></ion-icon>
                             Calendar
                          </ion-button>
                       </ion-item-options>
                       <ion-item-options side="end" *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'false'">
                          <ion-button color="secondary" (click) = "tradeDashboard(job._id,job.job_title)">
                             <ion-icon name="eye"></ion-icon>
                             View
                          </ion-button>
                          <ion-button color="primary" (click)="editJobPage($event,job._id)">
                             <ion-icon name="create"></ion-icon>
                             Edit
                          </ion-button>
                          <ion-button (click) = "deleteJob(job._id)" color="danger">
                             <ion-icon name="trash"></ion-icon>
                             Delete
                          </ion-button>
                       </ion-item-options>
                       <ion-item-options side="start" *ngIf="isAssociate == '1' || job.privileges.indexOf(userId) == -1 && isBrowser == 'false'">
                          <ion-button color="secondary" (click) = "editJob(job._id)">
                             <ion-icon name="eye"></ion-icon>
                             View
                          </ion-button>
                       </ion-item-options>
                    </ion-item-sliding>
                  </ion-card>
                 </ion-col>
                 <ion-col size="12" *ngIf="jobs == ''">
                 <ion-item  br-lt-grey border-none>No Jobs Found.</ion-item>
                 </ion-col>
                 
              </ion-row>
           </ion-list>
  <div footer-height></div>   
  </ion-content>
  <!-- <expandable-list-divider></expandable-list-divider> -->