  .advertisement {
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
  }
  
  ion-list {
    border-right: 1px solid #ccc;
  }
  
  ion-item {
    --background: #fff;
    margin: 5px 0;
  }
  
  .message-details {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
  }
  
  .message-details:hover {
    background: #f8f8f8;
  }
  
  .ion-label h2 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  }
  
  .ion-label p {
    font-size: 12px;
    margin: 0;
    color: #666;
  }
  
  ion-avatar {
    width: 40px;
    height: 40px;
  }
  .bg-primary-light{    
    --background: #edf4fc;
    background-color: #edf4fc;
  }
  // .actives {
  //   margin-left: 250px !important;
  //   -webkit-transition: all 0.4s ease 0s;
  //   transition: all 0.4s ease 0s;
  // }

  ion-split-pane {
    --side-width: 350px;
    --side-max-width: 350px;
  
    --border: 1px dashed #b3baff;
  }
  .border-1{
    border: 1px solid #222;
  }
  ion-menu-button{
    display: block;
  }

  /********** New Edits *************/
  ion-split-pane {
    --side-max-width: 250px; /* Adjust as needed */
  }
  
  ion-menu {
    --width: 250px; /* Adjust as needed */
  }
  
  .main-content-wrapper {
    padding: 16px;
    width: 100%;
  }
  
  ion-content {
    --padding-top: 56px; /* Adjust to account for header */
  }

  .pl-2 {
    padding-left: 12px;
  }

  .edit-folder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .ion-float-right {
    margin-left: 8px;
  }
  ion-checkbox, ion-avatar{
    margin-right: 10px;
  }
 
  
  @media (max-width: 767px) {
    ion-split-pane {
      display: block;
    }
  
    .main-content-wrapper {
      padding: 16px;
      width: 100%;
    }
    .ion-content-mob {
      height: 100vh;
    }
  }