<app-header></app-header>

<ion-row main-breadcrumb ion-fixed style="top:60px">
   <ion-col>
      <ol class="breadcrumb">
         <li (click)="root()"><a>Home</a></li>
         <li (click)="smail()"><a>Smail</a></li>
         <li class="{{bread_level == '' ? 'active' : ''}}"  *ngIf="preState == 'Inbox'"><a>Inbox</a></li>
         <li class="{{bread_level == '' ? 'active' : ''}}" *ngIf="preState == 'Sent'"><a>Sent</a></li>
         <!-- <li class="active" *ngIf="preState == 'Folder' || preState == 'null'">{{selectedLevel}}</li> -->
         <li class="text-capital" (click)="clickNode(bread_level_node)" *ngIf="bread_level != '' && bread_folder != ''"><a>{{bread_level}}</a></li>
         <li class="active text-capital" *ngIf="bread_level != '' && bread_folder == ''">{{bread_level}}</li>
         <li (click)="clickNodeChild(bread_folder_node)" *ngIf="bread_folder != '' && bread_static != ''"><a>{{bread_folder}}</a></li> 
         <li class="active" *ngIf="bread_folder != '' && bread_static == ''">{{bread_folder}}</li> 
         <li class="active" *ngIf="bread_static != ''">{{bread_static}}</li>  
      </ol>
   </ion-col>
</ion-row>

<ion-toolbar class="hide-pc">
   <ion-buttons slot="start">
     <ion-menu-button menu="leftMenu" autoHide="false"></ion-menu-button>
   </ion-buttons>
 </ion-toolbar>

<ion-menu side="start" menuId="leftMenu" contentId="main-content">
   <ion-header>
     <ion-toolbar>
       <ion-title>Smail Menu</ion-title>
     </ion-toolbar>
   </ion-header>
   <ion-content>
      <ion-button color="primary" size="small"><ion-icon name="add-outline"></ion-icon></ion-button> 
      <ion-button color="danger" size="small"><ion-icon name="remove-outline"></ion-icon></ion-button>
      <ion-list>
         <ion-item>
            <ion-label><ion-icon name="pencil-outline" color="primary"></ion-icon> Compose</ion-label>
         </ion-item>
         <ion-item>
            <ion-label><ion-icon name="mail-outline" color="primary"></ion-icon> Inbox</ion-label>
         </ion-item>
         <ion-item>
            <ion-label><ion-icon name="mail-open-outline" color="primary"></ion-icon> Sent</ion-label>
         </ion-item>
         <ion-item>
            <ion-label><ion-icon name="folder-open-outline" color="primary"></ion-icon> Level1</ion-label>
         </ion-item>
      </ion-list>
   </ion-content>
 </ion-menu>

<ion-content  id="main-content">
   <ion-grid>
     <ion-row>
       <!-- Sidebar -->
       <ion-col size="12" size-md="3" class="hide-mob">
         <ion-card>
            <ion-card-content>
               <ion-button color="primary" size="small"><ion-icon name="add-outline"></ion-icon></ion-button> 
               <ion-button color="danger" size="small"><ion-icon name="remove-outline"></ion-icon></ion-button>
               <ion-list>
               <ion-item>
                  <ion-label><ion-icon name="pencil-outline" color="primary"></ion-icon> Compose</ion-label>
               </ion-item>
               <ion-item>
                  <ion-label><ion-icon name="mail-outline" color="primary"></ion-icon> Inbox</ion-label>
               </ion-item>
               <ion-item>
                  <ion-label><ion-icon name="mail-open-outline" color="primary"></ion-icon> Sent</ion-label>
               </ion-item>
               <ion-item>
                  <ion-label><ion-icon name="folder-open-outline" color="primary"></ion-icon> Level1</ion-label>
               </ion-item>
               </ion-list>
            </ion-card-content>
         </ion-card>
       </ion-col>
 
       <!-- Main Content Area -->
       <ion-col size="12" size-md="9">
 
         <ion-row>
           <!-- List of Messages -->
           <ion-col size="12" size-md="4">
            <ion-searchbar></ion-searchbar>

            <ion-row>
               <ion-col size="3"><ion-label stacked>Jobs</ion-label>
                  <ion-select [(ngModel)]="selectedJob" (ionChange)="searchFn(searchTerm, selectedJob, gaming, selectedTrade, true, selectedType)">
                  <ion-select-option [disabled]="true" *ngIf="jobListingResult == ''" value="">No jobs</ion-select-option>
                  <ion-select-option *ngIf="jobListingResult != ''" value="">All Job</ion-select-option>
                  <ion-select-option value="{{job._id}}" *ngFor="let job of jobListingResult"> {{job.job_title}}</ion-select-option>
                  <!-- <ion-select-option value="Renovate Bathroom">Renovate Bathroom</ion-select-option> -->
                  </ion-select>
               </ion-col>
               <ion-col size="3" (click)="tradesFilter()">
                  <ion-label stacked>Trades</ion-label>
                  <ion-select [disabled]="true" [(ngModel)]="selectedTrade"></ion-select>
               </ion-col>
               <ion-col size="3">
                  <ion-label stacked>Type</ion-label>
                     <ion-select [(ngModel)]="selectedType" (ionChange)="searchFn(searchTerm, selectedJob, gaming, selectedTrade, false, selectedType)">
                        <ion-select-option value="addendum"> Addendum</ion-select-option>
                        <ion-select-option value="rfi"> RFI</ion-select-option>
                        <ion-select-option value="change_order"> Change Order</ion-select-option>
                     </ion-select>
               </ion-col>
               <ion-col size="3">
                  <ion-label stacked>Status</ion-label>
                     <ion-select [(ngModel)]="gaming" (ionChange)="searchFn(searchTerm, selectedJob, gaming, selectedTrade, false, selectedType)">
                     <ion-select-option value="1" >Read</ion-select-option>
                     <ion-select-option value="0" >Unread</ion-select-option>
                  </ion-select>
               </ion-col>
            </ion-row>

            <ion-button color="light" size="small"><ion-checkbox></ion-checkbox> </ion-button> 
            <ion-button color="primary" size="small"><ion-icon name="trash-outline"></ion-icon></ion-button> 
            <ion-button color="primary" size="small"><ion-icon name="refresh-outline"></ion-icon></ion-button>

            <ion-row>
               <ion-col size="12">
                 <div class="advertisement">
                   I am advertisement.
                 </div>
               </ion-col>
             </ion-row>

             <ion-list lines="full" class="bg-primary-light">
               <ion-item *ngFor="let message of messages" class="bg-primary-light">
                  <ion-checkbox slot="start"></ion-checkbox>
                 <ion-avatar slot="start">
                   <img src="https://www.serrare.com/userpanel/assets/img/group.jpg" />
                 </ion-avatar>
                 <ion-label>
                   <h2>{{ message.title }}</h2>
                   <p>{{ message.time }}</p>
                 </ion-label>
               </ion-item>
             </ion-list>
           </ion-col>
 
           <!-- Message Details -->
           <ion-col size="12" size-md="8">
            <ion-row>
               <ion-col size="12">
                 <div class="advertisement">
                   I am advertisement.
                 </div>
               </ion-col>
             </ion-row>
             <div class="message-details">
               Choose a message to read it.
             </div>
           </ion-col>
         </ion-row>
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-content>