<div class="nav-wrap">
  <ion-row>
    <ion-col col-md-6>  
      <img src="https://www.serrare.com/userpanel/assets/img/logo.png" height="50px" (click)="root()">
    </ion-col>
    <ion-col col-md-6>  
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button  *ngIf="isBrowser ==  'true'"  id="tooltip-mail" data-tooltip="Mail Tooltip" (click)="smailPage()" class="hide-mob"><ion-icon name="mail" color="light"></ion-icon></ion-button>
          <ion-button id="tooltip-people"  *ngIf="isBrowser ==  'true'"   data-tooltip="People Tooltip" (click)="contactsPage()" class="hide-mob"><ion-icon name="people" color="light"></ion-icon></ion-button>
          <ion-button   *ngIf="isBrowser ==  'true'" id="tooltip-document" data-tooltip="Document Tooltip" (click)="fileManagerPage()" class="hide-mob"><ion-icon name="document" color="light"></ion-icon></ion-button>
          <ion-button   *ngIf="isBrowser ==  'true'" id="tooltip-card" data-tooltip="Card Tooltip" (click)="bidJobsPage()" class="hide-mob"><img src="assets/img/bid_icon_white.png" style="width: 21px; min-width:21px; margin-top: 7px;"></ion-button>
          <ion-button   *ngIf="isBrowser ==  'true'" id="tooltip-briefcase" data-tooltip="Briefcase Tooltip" (click)="goToJobs()" class="hide-mob"><ion-icon name="briefcase" color="light"></ion-icon></ion-button>
          <ion-button  id="tooltip-apps" (click)="presentPopover($event)" ><ion-icon name="apps" color="light"></ion-icon></ion-button>
          <!-- (click)="invitePage()"?>-->
          <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" trigger="tooltip-apps" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding">
                <ion-row>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="root()">
                      <div class="menu-icon-text"><ion-icon name="home-outline" color="primary"></ion-icon></div>
                      <div class="font-10">Dashboard</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="smailPage()">
                      <div class="menu-icon-text"><ion-icon name="mail-outline" color="success"></ion-icon></div>
                      <div class="font-10">Smail</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="fileManagerPage()">
                      <div class="menu-icon-text"><ion-icon name="document-outline" color="danger"></ion-icon></div>
                      <div class="font-10">Files</div>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="contactsPage()">
                      <div class="menu-icon-text"><ion-icon name="phone-portrait-outline" color="primary"></ion-icon></div>
                      <div class="font-10">Contacts</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="membersPage()">
                      <div class="menu-icon-text"><ion-icon name="people-outline" color="success"></ion-icon></div>
                      <div class="font-10">Members</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="invitePage()">
                      <div class="menu-icon-text"><ion-icon name="paper-plane-outline" color="danger"></ion-icon></div>
                      <div class="font-10">Invites</div>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="walletPage()">
                      <div class="menu-icon-text"><ion-icon name="wallet-outline" color="primary"></ion-icon></div>
                      <div class="font-10">Wallet</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="goToJobs()">
                      <div class="menu-icon-text"><ion-icon name="briefcase-outline" color="success"></ion-icon></div>
                      <div class="font-10">Jobs</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="bidJobsPage()">
                      <div class="menu-icon-text"><img src="assets/img/bid_icon_red.png" width="25"></div>
                      <div class="font-10">Bidding</div>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-content>
            </ng-template>
          </ion-popover>
          <ion-button  (click)="presentNotificationPopover($event)">
            <ion-icon name="notifications" color="light"></ion-icon>
            <div class="count-badge" *ngIf="notification0.length > 0">{{counts?.notify0_count}}</div> 
          </ion-button>
          <ion-popover #motificationPopover [isOpen]="isNotiOpen" (didDismiss)="isNotiOpen = false">
            <ng-template>
              <div class="notification-section"  (clickOutside)="onClickedOutside($event)" clickOutsideEnabled="true">
                <ion-list margin0 *ngIf="notification0?.length > 0">
                   <ion-list-header br-btm margin0>You have {{counts?.notify0_count}} new messages</ion-list-header>
                   <ion-item *ngFor="let notice of notification0 | slice:0:3;  let i=index ">
                      <ion-avatar item-start>
                      <ng-container *ngIf="notice.isAdmin == '1'">
                      <img src="assets/img/logo-icon.png" >
                      </ng-container>
                      <ng-container *ngIf="notice.isAdmin != '1'">
                      <div *ngIf="notice.senderId != notice.receiverId">
                         <img src="assets/img/m7.png" *ngIf="notice.image == ''">
                         <img src="{{APIURL}}/images/{{notice.image}}" *ngIf="notice.image != ''">
                      </div>
                      <div *ngIf="notice.senderId == notice.receiverId">
                         <img src="assets/img/m7.png">
                      </div>
                      </ng-container>
                      </ion-avatar>
                      <!-- <h4 fnt-bold>{{notice.receiverName}}</h4> -->
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 0" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been accepted your friend request.</h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 1" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} sent you friend request.</h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 5" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has replied on Smail.</h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 9" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been rejected your friend request.</h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 37" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been removed you as friend.</h6> 
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 38" (click)="readNotis(notice._id)">{{notice.senderName}} has shared a job {{notice.info?.job_name}}({{notice.info?.job_number}}) under company {{notice.info?.company_name}}.</h6>  
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 4" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} invited you to bid on job {{notice.others}}. </h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 7" (click)="readNotis(notice._id,notice.type,notice.others,notice.info)">{{notice.senderName}} has requested RFI on your trade {{notice.info?.trade_name}} of job {{notice.others}}. </h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 8" (click)="readNotis(notice._id,notice.type,null,notice.info)">{{notice.senderName}} has replied on your RFI for trade {{notice.info?.trade_name}} of job {{notice.others}}. </h6> 
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 26" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has just bid on your job {{notice.others}}. </h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 101" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been accepted your friend requset. </h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 15">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br> <span fnt12 color-light-grey> {{notice.isAdmin == '1' ? 'has assigned your license to '+notice.others+' users' : ' has assigned a new licenses to you.'}}</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 16"><span fnt12 color-light-grey>Your license has been used by {{notice.senderName}}  </span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 27"><span fnt12 color-light-grey>Your license key {{notice.others}} has been expired. </span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 31"><span fnt12 color-light-grey>Your license key {{notice.others}} has been renewed. </span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 150">{{notice.senderName}} <br><span fnt12 color-light-grey>has updated transmittal #{{notice.others}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type,notice.others)" fnt-regular  *ngIf="notice.type == 32">{{notice.senderName}} <br><span fnt12 color-light-grey>has sent you an invitation to share a job.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 33">{{notice.senderName}} <br><span fnt12 color-light-grey>has been accepted your invitation to share a job.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 34">{{notice.senderName}} <br><span fnt12 color-light-grey>has been rejected your invitation to share a job.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 35">{{notice.senderName}} <br><span fnt12 color-light-grey>has requested RFI for job {{notice.others}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 200">{{notice.senderName}} <br><span fnt12 color-light-grey>has been awarded you a job {{notice.others}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 36">{{notice.senderId == notice.receiverId ? 'Engineer' : notice.senderName}} <br><span fnt12 color-light-grey>has replied on your requested RFI for job {{notice.others}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 28">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has extended your license ({{notice.others}}) expiry.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type,null,notice.info)" fnt-regular  *ngIf="notice.type == 30">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has sent transmittal on job {{notice.info?.job_title}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 29"><span fnt12 color-light-grey>Your license has been activated. </span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 17">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has removed {{notice.isAdmin == '1' ? notice.senderName+' used license key assigned by you.' : 'your license key.'}}</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 18">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> {{notice.isAdmin == '1' ? 'Assigned license key to '+notice.senderName+' has been removed.' : 'Assigned license key has been removed.'}}</span></h6>
              
                      <p fnt-regular fnt12>{{timesAgo(notice.created_on)}}</p>
                      <!-- <p fnt-regular fnt12>{{notice.created_on|timeAgo}}</p> -->
                   </ion-item>
                   <ion-list-header br-btm margin0 (click)="seeAllNotifications()">
                      <ion-button size="small" color="medium">
                          See All Notifications 
                      </ion-button>
                   </ion-list-header>
                </ion-list>
                <ion-list *ngIf="notification0.length == 0" margin0 text-center   bg-white>
                 <div padding>  No Notifications Yet! </div>
                   <ion-list-header br-btm margin0 (click)="seeAllNotifications()">
                    <ion-button size="small" color="medium">
                      See All Notifications 
                  </ion-button>
                   </ion-list-header>
                </ion-list>
              </div>
            </ng-template>
          </ion-popover>
          <ion-button id="tooltip-help"   *ngIf="isBrowser ==  'true'" data-tooltip="Help Tooltip" (click)="SupportLoginUser()"><ion-icon name="help" color="light"></ion-icon></ion-button>
          <ion-button id="tooltip-level" class="custom-button-white hide-mob" data-tooltip="Level Tooltip">
            <div class="icon-text">
              <div class="icon-row">
                <div class="icon-with-count" (click)="mails(0)">
                  <ion-icon name="mail"></ion-icon>
                  <div class="count-badge" *ngIf="smail0.length > 0">{{counts?.smail0_count}}</div> <!-- Example count for mail -->
                </div>
                <div class="icon-with-count" (click)="opennotification(0)">
                  <ion-icon name="notifications"></ion-icon>
                  <div class="count-badge" *ngIf="zeroLevelCount > 0">{{zeroLevelCount}}</div> <!-- Example count for notifications -->
                </div>
              </div>
              <div class="labels" (click) = "lockAllLevel(0)">
                <span>Level</span>
                <span>0</span>
              </div>
            </div>
          </ion-button>
          <div level-1  [ngClass]="(level1 == 'true') ? 'new-icon icon-lock' : 'new-icon'" class="hide-mob" col left *ngIf="level1 == 'true'"  (click)="goToAddPassWordPage(1)"> 
            <ion-row>
               <ion-col text-left p-b-0  (click)="mails(1)">
                  <button bg-trans-p0 >
                     <ion-icon name="mail" ></ion-icon>
                     <ion-badge color="danger" *ngIf="smail1.length > 0">{{counts?.notify0_count}}</ion-badge>
                  </button>
               </ion-col>
               <ion-col text-right p-b-0 >
                  <button bg-trans-p0 >
                     <ion-icon name="notifications" ></ion-icon>
                     <ion-badge color="danger" *ngIf="notification1.length > 0">{{counts?.notify1_count}}</ion-badge>
                  </button>
               </ion-col>
            </ion-row>
            <ion-row  >
               <ion-col col-10 text-left>
                  Level
               </ion-col>
               <ion-col col-2 text-right>
                  1
               </ion-col>
            </ion-row>
            </div>
            <div  level-1   [ngClass]="(level1 == 'true') ? 'new-icon icon-lock' : 'new-icon'"  class="hide-mob" col left  *ngIf="level1 != 'true'" > 
            <ion-row>
               <ion-col text-left p-b-0  (click)="mails(1)">
                  <button bg-trans-p0 >
                     <ion-icon name="mail" ></ion-icon>
                     <ion-badge color="danger" *ngIf="smail1.length > 0">{{counts?.smail1_count}}</ion-badge>
                  </button>
               </ion-col> 
               <ion-col text-right p-b-0 (click)="opennotification(1)">
                  <button bg-trans-p0 >
                     <!-- (click)="showMessages()" -->
                     <ion-icon name="notifications" ></ion-icon>
                     <ion-badge color="danger" *ngIf="notification1.length > 0">{{counts?.notify1_count}}</ion-badge>
                  </button>
                     <div class="notification-dropdown header_1" *ngIf="level1Notice == true && notificationType != 'smail' " (clickOutside)="onClickedOutside($event)" clickOutsideEnabled="true">
                     <ion-list margin0 *ngIf="notification1?.length > 0">
                        <ion-list-header br-btm margin0>You have {{counts?.notify1_count}} new messages</ion-list-header>
                        <ion-item *ngFor="let notice of notification1 | slice:0:3; let i=index ">
                           <ion-avatar item-start>
                              <img src="assets/img/m7.png" *ngIf="notice.image == ''">
                              <img src="{{APIURL}}/images/{{notice.image}}" *ngIf="notice.image != ''">
                           </ion-avatar>
      
                           <h6 fnt-regular fnt12 (click)="readNotis(notice._id,notice.type)" *ngIf="notice.type == 2">You get smail from {{notice.senderName}}</h6>
      
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 3" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} shared a file with you. </h6>
      
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 6" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has rejected a share file request of you. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 19" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has accepted a share file request of you. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 20" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has added new folder in shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 21" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has added new file in shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 22" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has deleted a folder from shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 23" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has deleted a file from shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 24" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has renamed a folder in shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 25" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} is no longer participating on the file share for shared folder {{notice.others}}. </h6>
      
                           <!-- <p fnt-regular fnt12>{{notice.created_on|timeAgo}}</p> -->
                           <p fnt-regular fnt12>{{timesAgo(notice.created_on)}}</p>
                        </ion-item>
                        <ion-list-header br-btm margin0 (click)="seeAllLevelNotifications(2)">
                           <button bg-transparent>
                           See All Notifications 
                           </button>
                        </ion-list-header>
                     </ion-list>
                     <ion-list *ngIf="notification1.length == 0" margin0 text-center padding  bg-white>
                        No Notifications Yet!
                     </ion-list>
                     </div>
               </ion-col>
            </ion-row>
            <ion-row  (click)="goToAddPassWordPage(1)">
               <ion-col col-10 text-left>
                  Level
               </ion-col>
               <ion-col col-2 text-right>
                  1
               </ion-col>
            </ion-row>
            </div>
            <div   level-2  class="hide-mob"  [ngClass]="(level2 == 'true') ? ((level1 == 'true') ? 'noclick new-icon icon-lock' : 'new-icon icon-lock') : ((level1 == 'true') ? 'noclick new-icon' : 'new-icon')" col left *ngIf="level2 == 'true'" (click)="goToAddPassWordPage(2)">
            <ion-row>
               <ion-col text-left p-b-0 (click)="mails(2)">
                  <button bg-trans-p0>
                     <ion-icon name="mail" ></ion-icon>
                     <ion-badge color="danger" *ngIf="smail2.length > 0">{{counts?.smail2_count}}</ion-badge>
                  </button>
               </ion-col>
               <ion-col text-right p-b-0 >
                  <button bg-trans-p0 >
                     <ion-icon name="notifications" ></ion-icon>
                     <ion-badge color="danger" *ngIf="notification2.length > 0">{{counts?.notify2_count}}</ion-badge>
                  </button>
               </ion-col>
            </ion-row>
            <ion-row >
               <ion-col col-10 text-left>
                  Level
               </ion-col>
               <ion-col col-2 text-right>
                  2
               </ion-col>
            </ion-row>
            </div>
            <div    level-2  class="new-icon hide-mob" [ngClass]="(level1 == 'true') ? 'noclick' : ''" col left *ngIf="level2 != 'true'"> 
               <ion-row>
                  <ion-col text-left p-b-0 (click)="mails(2)">
                     <button bg-trans-p0>
                        <ion-icon name="mail" ></ion-icon>
                        <ion-badge color="danger" *ngIf="smail2.length > 0">{{counts?.smail2_count}}</ion-badge>
                     </button>
                  </ion-col>    
                  <ion-col text-right p-b-0 (click)="opennotification(2)">
                     <button bg-trans-p0 >
                        <ion-icon name="notifications" ></ion-icon>
                        <ion-badge color="danger" *ngIf="notification2.length > 0">{{counts?.notify2_count}}</ion-badge>
                     </button>
                     <div class="notification-dropdown header_1" *ngIf="level2Notice == true && notificationType != 'smail' " (clickOutside)="onClickedOutside($event)" clickOutsideEnabled="true">
                        <ion-list margin0 *ngIf="notification2?.length > 0">
                           <ion-list-header br-btm margin0>You have {{counts?.notify2_count}} new messages</ion-list-header>
                           <ion-item *ngFor="let notice of notification2 | slice:0:3; let i=index ">
                           <ion-avatar item-start>
                           <img src="assets/img/m7.png" *ngIf="notice.image == ''">
                           <img src="{{APIURL}}/images/{{notice.image}}" *ngIf="notice.image != ''">
                           </ion-avatar>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 2" (click)="readNotis(notice._id,notice.type)">You get smail from {{notice.senderName}}</h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 3" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} shared a file with you. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 6" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has rejected a share file request of you. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 19" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has accepted a share file request of you. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 20" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has added new folder in shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 21" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has added new file in shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 22" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has deleted a folder from shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 23" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has deleted a file from shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 24" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has renamed a folder in shared files. </h6>
                           <h6 fnt-regular fnt12 *ngIf="notice.type == 25" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} is no longer participating on the file share for shared folder {{notice.others}}. </h6>
                           <!-- <p fnt-regular fnt12>{{notice.created_on|timeAgo}}</p> -->
                           <p fnt-regular fnt12>{{timesAgo(notice.created_on)}}</p>
                           </ion-item>
                           <ion-list-header br-btm margin0 (click)="seeAllLevelNotifications(2)">
                           <button bg-transparent>
                           See All Notifications 
                           </button>
                           </ion-list-header>
                        </ion-list>
                     <ion-list *ngIf="notification2.length == 0" margin0 text-center padding  bg-white>
                     No Notifications Yet!
                     </ion-list>
                     </div>
                  </ion-col>
               </ion-row>
               <ion-row (click)="goToAddPassWordPage(2)">
                  <ion-col col-10 text-left>
                     Level
                  </ion-col>
                  <ion-col col-2 text-right>
                     2
                  </ion-col>
               </ion-row>
            </div>
            <div  class="hide-mob" level-3  [ngClass]="(level3 == 'true') ? ((level2 == 'true') ? 'noclick new-icon icon-lock' : 'new-icon icon-lock') : ((level2 == 'true') ? 'noclick new-icon' : 'new-icon')"  *ngIf="level3 == 'true'" (click) = "goToAddPassWordPage(3)"  col left >
            <ion-row>
               <ion-col text-left p-b-0 (click)="mails(3)">
                  <button bg-trans-p0>
                     <ion-icon name="mail"></ion-icon>
                     <ion-badge color="danger" *ngIf="smail3.length > 0">{{counts?.smail3_count}}</ion-badge>
                  </button>
               </ion-col>
               <ion-col text-right p-b-0>
                  <button bg-trans-p0 >
                     <ion-icon name="notifications" (click)="opennotification(3)"></ion-icon>
                     <ion-badge color="danger" *ngIf="notification3.length > 0">{{counts?.notify3_count}}</ion-badge>
                  </button>
               </ion-col>
            </ion-row>
            <ion-row >
               <ion-col col-10 text-left>
                  Level
               </ion-col>
               <ion-col col-2 text-right>
                  3
               </ion-col>
            </ion-row>
            </div>
            <div   level-3 class="new-icon hide-mob" col left *ngIf="level3 != 'true'" [ngClass]="(level2 == 'true') ? 'noclick' : ''">
               <ion-row>
                  <ion-col text-left p-b-0 (click)="mails(3)">
                     <button bg-trans-p0>
                        <ion-icon name="mail" (click)="mails(3)"></ion-icon>
                        <ion-badge color="danger" *ngIf="smail3.length > 0">{{counts?.smail3_count}}</ion-badge>
                     </button>
                  </ion-col>
                  <ion-col text-right p-b-0>
                     <button bg-trans-p0 (click)="opennotification(3)">
                        <ion-icon name="notifications" ></ion-icon>
                        <ion-badge color="danger" *ngIf="notification3.length > 0">{{counts?.notify3_count}}</ion-badge>
                     </button>
                     <div class="notification-dropdown header_1" *ngIf="level3Notice == true && notificationType != 'smail'" (clickOutside)="onClickedOutside($event)" clickOutsideEnabled="true">
                        <ion-list margin0 *ngIf="notification3?.length > 0">
                           <ion-list-header br-btm margin0>You have {{counts?.notify3_count}} new messages</ion-list-header>
                           <ion-item *ngFor="let notice of notification3 | slice:0:3; let i=index ">
                              <ion-avatar item-start>
                                 <img src="assets/img/m7.png" *ngIf="notice.image == ''">
                                 <img src="{{APIURL}}/images/{{notice.image}}" *ngIf="notice.image != ''">
                              </ion-avatar>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 2" (click)="readNotis(notice._id,notice.type)">You get smail from {{notice.senderName}}</h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 3" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} shared a file with you. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 6" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has rejected a share file request of you. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 19" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has accepted a share file request of you. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 20" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has added new folder in shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 21" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has added new file in shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 22" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has deleted a folder from shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 23" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has deleted a file from shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 24" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has renamed a folder in shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 25" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} is no longer participating on the file share for shared folder {{notice.others}}. </h6>
                              <p fnt-regular fnt12>{{timesAgo(notice.created_on)}}</p>
                              <!-- <p fnt-regular fnt12>{{notice.created_on|timeAgo}}</p> -->
                           </ion-item>
                           <ion-list-header br-btm margin0 (click)="seeAllLevelNotifications(3)">
                              <button bg-transparent>
                              See All Notifications 
                              </button>
                           </ion-list-header>
                        </ion-list>
                        <ion-list *ngIf="notification3.length == 0" margin0 text-center padding  bg-white>
                           No Notifications Yet!
                        </ion-list>
                     </div>
                  </ion-col>
               </ion-row>
               <ion-row (click) = "goToAddPassWordPage(3)">
                  <ion-col col-10 text-left>
                     Level
                  </ion-col>
                  <ion-col col-3 text-right>
                     3
                  </ion-col>
               </ion-row>
            </div>
            <div  class="hide-mob" level-4  [ngClass]="(level4 == 'true') ? ((level3 == 'true') ? 'noclick new-icon icon-lock' : 'new-icon icon-lock') : ((level3 == 'true') ? 'noclick new-icon' : 'new-icon') " col left  (click) = "goToAddPassWordPage(4)"  *ngIf="level4 == 'true'">
            <ion-row>
               <ion-col text-left p-b-0 (click)="mails(4)">
                  <button bg-trans-p0>
                     <ion-icon name="mail"></ion-icon>
                     <ion-badge color="danger" *ngIf="smail4.length > 0">{{counts?.smail4_count}}</ion-badge>
                  </button>
               </ion-col>
               <ion-col text-right p-b-0>
                  <button bg-trans-p0 >
                     <ion-icon name="notifications" ></ion-icon>
                     <ion-badge color="danger" *ngIf="notification4.length > 0">{{counts?.notify4_count}}</ion-badge>
                  </button>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col col-10 text-left>
                  Level
               </ion-col>
               <ion-col col-2 text-right>
                  4
               </ion-col>
            </ion-row>
            </div>
            <div  level-4 [ngClass]="(level3 == 'true') ? 'noclick' : ''" class="new-icon hide-mob" col left *ngIf="level4 != 'true'">
               <ion-row>
                  <ion-col text-left p-b-0 (click)="mails(4)">
                     <button bg-trans-p0>
                        <ion-icon name="mail" (click)="mails(4)"></ion-icon>
                        <ion-badge color="danger" *ngIf="smail4.length > 0">{{counts?.smail4_count}}</ion-badge>
                     </button>
                  </ion-col>
                  <ion-col text-right p-b-0>
                     <button bg-trans-p0 (click)="opennotification(4)">
                        <ion-icon name="notifications" ></ion-icon>
                        <ion-badge color="danger" *ngIf="notification4.length > 0">{{counts?.notify4_count}}</ion-badge>
                     </button>
                     <div class="notification-dropdown header_1" *ngIf="level4Notice == true && notificationType != 'smail' " (clickOutside)="onClickedOutside($event)" clickOutsideEnabled="true">
                        <ion-list margin0 *ngIf="notification4?.length > 0">
                           <ion-list-header br-btm margin0>You have {{counts?.notify4_count}} new messages</ion-list-header>
                           <ion-item *ngFor="let notice of notification4 | slice:0:3; let i=index ">
                              <ion-avatar item-start>
                                 <img src="assets/img/m7.png" *ngIf="notice.image == ''">
                                 <img src="{{APIURL}}/images/{{notice.image}}" *ngIf="notice.image != ''">
                              </ion-avatar>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 2" (click)="readNotis(notice._id,notice.type)">You get smail from {{notice.senderName}}</h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 3" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} shared a file with you. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 6" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has rejected a share file request of you. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 19" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has accepted a share file request of you. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 20" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has added new folder in shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 21" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has added new file in shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 22" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has deleted a folder from shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 23" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has deleted a file from shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 24" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has renamed a folder in shared files. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 25" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} is no longer participating on the file share for shared folder {{notice.others}}. </h6>
                              <h6 fnt-regular fnt12 *ngIf="notice.type == 25" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} is no longer participating on the file share for shared folder {{timesAgo(notice.others)}}. </h6>
                              <!-- <p fnt-regular fnt12>{{notice.created_on|timeAgo}}</p> -->
                              <p fnt-regular fnt12>{{notice.created_on}}</p>
                           </ion-item>
                           <ion-list-header br-btm margin0 (click)="seeAllLevelNotifications(4)">
                              <button bg-transparent>
                              See All Notifications 
                              </button>
                           </ion-list-header>
                        </ion-list>
                        <ion-list *ngIf="notification4.length == 0" margin0 text-center padding  bg-white>
                           No Notifications Yet!
                        </ion-list>
                     </div>
                  </ion-col>
               </ion-row>
               <ion-row (click) = "goToAddPassWordPage(4)">
                  <ion-col col-10 text-left>
                     Level
                  </ion-col>
                  <ion-col col-2 text-right>
                     4
                  </ion-col>
               </ion-row>
            </div>
          <ion-button id="tooltip-menu" data-tooltip="Menu Tooltip"><ion-menu-button>
            <img tooltip="Menu" positionV="bottom" arrow (click)="toggleMenu()" *ngIf="userImage == '' || userImage == null" src="assets/img/m7.png" alt="image" class="menu-img">
            <img tooltip="Menu" positionV="bottom" arrow (click)="toggleMenu()" *ngIf="userImage != '' && userImage != null" alt="image" src="{{APIURL}}/images/{{userImage}}" class="menu-img">
          </ion-menu-button>
        </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</div>
