<div class="nav-wrap">
  <ion-row>
    <ion-col col-md-6>  
      <img src="https://www.serrare.com/userpanel/assets/img/logo.png" height="50px" (click)="root()">
    </ion-col>
    <ion-col col-md-6>  
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button id="tooltip-mail" data-tooltip="Mail Tooltip" (click)="smailPage()" class="hide-mob"><ion-icon name="mail" color="light"></ion-icon></ion-button>
          <ion-button id="tooltip-people" data-tooltip="People Tooltip" (click)="contactsPage()" class="hide-mob"><ion-icon name="people" color="light"></ion-icon></ion-button>
          <ion-button id="tooltip-document" data-tooltip="Document Tooltip" (click)="fileManagerPage()" class="hide-mob"><ion-icon name="document" color="light"></ion-icon></ion-button>
          <ion-button id="tooltip-card" data-tooltip="Card Tooltip" (click)="bidJobsPage()" class="hide-mob"><img src="assets/img/bid_icon_white.png" style="width: 21px; margin-top: 7px;"></ion-button>
          <ion-button id="tooltip-briefcase" data-tooltip="Briefcase Tooltip" (click)="membersPage()" class="hide-mob"><ion-icon name="briefcase" color="light"></ion-icon></ion-button>
          <ion-button  (click)="presentPopover($event)" ><ion-icon name="apps" color="light"></ion-icon></ion-button>
          <!-- (click)="invitePage()"?>-->
          <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
            <ng-template>
              <ion-content class="ion-padding">
                <ion-row>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="root()">
                      <div class="menu-icon-text"><ion-icon name="home-outline" color="primary"></ion-icon></div>
                      <div class="font-10">Dashboard</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="smailPage()">
                      <div class="menu-icon-text"><ion-icon name="mail-outline" color="success"></ion-icon></div>
                      <div class="font-10">Smail</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="fileManagerPage()">
                      <div class="menu-icon-text"><ion-icon name="document-outline" color="danger"></ion-icon></div>
                      <div class="font-10">Files</div>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="contactsPage()">
                      <div class="menu-icon-text"><ion-icon name="phone-portrait-outline" color="primary"></ion-icon></div>
                      <div class="font-10">Contacts</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="membersPage()">
                      <div class="menu-icon-text"><ion-icon name="people-outline" color="success"></ion-icon></div>
                      <div class="font-10">Members</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="invitePage()">
                      <div class="menu-icon-text"><ion-icon name="paper-plane-outline" color="danger"></ion-icon></div>
                      <div class="font-10">Invites</div>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="walletPage()">
                      <div class="menu-icon-text"><ion-icon name="wallet-outline" color="primary"></ion-icon></div>
                      <div class="font-10">Wallet</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="goToJobs()">
                      <div class="menu-icon-text"><ion-icon name="briefcase-outline" color="success"></ion-icon></div>
                      <div class="font-10">Jobs</div>
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="text-center">
                    <ion-text (click)="bidJobsPage()">
                      <div class="menu-icon-text"><img src="assets/img/bid_icon_red.png" width="25"></div>
                      <div class="font-10">Bidding</div>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-content>
            </ng-template>
          </ion-popover>
          <ion-button  (click)="presentNotificationPopover($event)">
            <ion-icon name="notifications" color="light"></ion-icon>
            <div class="count-badge" *ngIf="notification0.length > 0">{{counts?.notify0_count}}</div> 
          </ion-button>
          <ion-popover #motificationPopover [isOpen]="isNotiOpen" (didDismiss)="isNotiOpen = false">
            <ng-template>
              <div class="notification-section"  (clickOutside)="onClickedOutside($event)" clickOutsideEnabled="true">
                <ion-list margin0 *ngIf="notification0?.length > 0">
                   <ion-list-header br-btm margin0>You have {{counts?.notify0_count}} new messages</ion-list-header>
                   <ion-item *ngFor="let notice of notification0 | slice:0:3;  let i=index ">
                      <ion-avatar item-start>
                      <ng-container *ngIf="notice.isAdmin == '1'">
                      <img src="assets/img/logo-icon.png" >
                      </ng-container>
                      <ng-container *ngIf="notice.isAdmin != '1'">
                      <div *ngIf="notice.senderId != notice.receiverId">
                         <img src="assets/img/m7.png" *ngIf="notice.image == ''">
                         <img src="{{APIURL}}/images/{{notice.image}}" *ngIf="notice.image != ''">
                      </div>
                      <div *ngIf="notice.senderId == notice.receiverId">
                         <img src="assets/img/m7.png">
                      </div>
                      </ng-container>
                      </ion-avatar>
                      <!-- <h4 fnt-bold>{{notice.receiverName}}</h4> -->
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 0" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been accepted your friend request.</h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 1" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} sent you friend request.</h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 5" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has replied on Smail.</h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 9" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been rejected your friend request.</h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 37" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been removed you as friend.</h6> 
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 38" (click)="readNotis(notice._id)">{{notice.senderName}} has shared a job {{notice.info?.job_name}}({{notice.info?.job_number}}) under company {{notice.info?.company_name}}.</h6>  
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 4" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} invited you to bid on job {{notice.others}}. </h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 7" (click)="readNotis(notice._id,notice.type,notice.others,notice.info)">{{notice.senderName}} has requested RFI on your trade {{notice.info?.trade_name}} of job {{notice.others}}. </h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 8" (click)="readNotis(notice._id,notice.type,null,notice.info)">{{notice.senderName}} has replied on your RFI for trade {{notice.info?.trade_name}} of job {{notice.others}}. </h6> 
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 26" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has just bid on your job {{notice.others}}. </h6>
              
                      <h6 fnt-regular fnt12 *ngIf="notice.type == 101" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been accepted your friend requset. </h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 15">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br> <span fnt12 color-light-grey> {{notice.isAdmin == '1' ? 'has assigned your license to '+notice.others+' users' : ' has assigned a new licenses to you.'}}</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 16"><span fnt12 color-light-grey>Your license has been used by {{notice.senderName}}  </span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 27"><span fnt12 color-light-grey>Your license key {{notice.others}} has been expired. </span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 31"><span fnt12 color-light-grey>Your license key {{notice.others}} has been renewed. </span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 150">{{notice.senderName}} <br><span fnt12 color-light-grey>has updated transmittal #{{notice.others}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type,notice.others)" fnt-regular  *ngIf="notice.type == 32">{{notice.senderName}} <br><span fnt12 color-light-grey>has sent you an invitation to share a job.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 33">{{notice.senderName}} <br><span fnt12 color-light-grey>has been accepted your invitation to share a job.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 34">{{notice.senderName}} <br><span fnt12 color-light-grey>has been rejected your invitation to share a job.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 35">{{notice.senderName}} <br><span fnt12 color-light-grey>has requested RFI for job {{notice.others}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 200">{{notice.senderName}} <br><span fnt12 color-light-grey>has been awarded you a job {{notice.others}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 36">{{notice.senderId == notice.receiverId ? 'Engineer' : notice.senderName}} <br><span fnt12 color-light-grey>has replied on your requested RFI for job {{notice.others}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 28">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has extended your license ({{notice.others}}) expiry.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type,null,notice.info)" fnt-regular  *ngIf="notice.type == 30">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has sent transmittal on job {{notice.info?.job_title}}.</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 29"><span fnt12 color-light-grey>Your license has been activated. </span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 17">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has removed {{notice.isAdmin == '1' ? notice.senderName+' used license key assigned by you.' : 'your license key.'}}</span></h6>
              
                      <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 18">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> {{notice.isAdmin == '1' ? 'Assigned license key to '+notice.senderName+' has been removed.' : 'Assigned license key has been removed.'}}</span></h6>
              
                      <p fnt-regular fnt12>{{timesAgo(notice.created_on)}}</p>
                      <!-- <p fnt-regular fnt12>{{notice.created_on|timeAgo}}</p> -->
                   </ion-item>
                   <ion-list-header br-btm margin0 (click)="seeAllNotifications()">
                      <ion-button size="small" color="medium">
                          See All Notifications 
                      </ion-button>
                   </ion-list-header>
                </ion-list>
                <ion-list *ngIf="notification0.length == 0" margin0 text-center   bg-white>
                 <div padding>  No Notifications Yet! </div>
                   <ion-list-header br-btm margin0 (click)="seeAllNotifications()">
                    <ion-button size="small" color="medium">
                      See All Notifications 
                  </ion-button>
                   </ion-list-header>
                </ion-list>
              </div>
            </ng-template>
          </ion-popover>
          <ion-button id="tooltip-help" data-tooltip="Help Tooltip"><ion-icon name="help" color="light" class="hide-mob"></ion-icon></ion-button>
          <ion-button id="tooltip-level" class="custom-button-white" data-tooltip="Level Tooltip" class="hide-mob">
            <div class="icon-text">
              <div class="icon-row">
                <div class="icon-with-count">
                  <ion-icon name="mail"></ion-icon>
                  <div class="count-badge">5</div> <!-- Example count for mail -->
                </div>
                <div class="icon-with-count">
                  <ion-icon name="notifications"></ion-icon>
                  <div class="count-badge">2</div> <!-- Example count for notifications -->
                </div>
              </div>
              <div class="labels">
                <span>Level</span>
                <span>0</span>
              </div>
            </div>
          </ion-button>
          <ion-button id="tooltip-primary-light" class="custom-button-primary-light" data-tooltip="Primary Light Tooltip" class="hide-mob">
            <div class="icon-text">
              <div class="icon-row">
                <div class="icon-with-count">
                  <ion-icon name="mail"></ion-icon>
                  <div class="count-badge">16</div> <!-- Example count for mail -->
                </div>
                <div class="icon-with-count">
                  <ion-icon name="notifications"></ion-icon>
                  <div class="count-badge">3</div> <!-- Example count for notifications -->
                </div>
              </div>
              <div class="labels">
                <span>Level</span>
                <span>0</span>
              </div>
            </div>
          </ion-button>
          <ion-button id="tooltip-primary-dark" class="custom-button-primary-dark" data-tooltip="Primary Dark Tooltip" class="hide-mob">
            <div class="icon-text">
              <div class="icon-row">
                <div class="icon-with-count">
                  <ion-icon name="mail"></ion-icon>
                  <div class="count-badge">5</div> <!-- Example count for mail -->
                </div>
                <div class="icon-with-count">
                  <ion-icon name="notifications"></ion-icon>
                  <div class="count-badge">12</div> <!-- Example count for notifications -->
                </div>
              </div>
              <div class="bag-label">
                <ion-icon name="bag"></ion-icon>
                <div class="labels">
                  <span>Label</span>
                  <span>0</span>
                </div>
              </div>
            </div>
          </ion-button>
          <ion-button id="tooltip-primary-dark-2" class="custom-button-primary-dark" data-tooltip="Primary Dark 2 Tooltip" class="hide-mob">
            <div class="icon-text">
              <div class="icon-row">
                <div class="icon-with-count">
                  <ion-icon name="mail"></ion-icon>
                  <div class="count-badge">5</div> <!-- Example count for mail -->
                </div>
                <div class="icon-with-count">
                  <ion-icon name="notifications"></ion-icon>
                  
                  <div class="count-badge">12</div> <!-- Example count for notifications -->
                </div>
              </div>
              <div class="bag-label">
                <ion-icon name="bag"></ion-icon>
                <div class="labels">
                  <span>Label</span>
                  <span>0</span>
                </div>
              </div>
            </div>
          </ion-button>
          <ion-button id="tooltip-menu" data-tooltip="Menu Tooltip"><ion-menu-button><img src="https://www.serrare.com:3002/images/154123840571921_img.jpg" class="menu-img"></ion-menu-button></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</div>
