 <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>Add Passwords</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-row>
      <ion-col col-12 *ngIf="filetype_error == '1'">
        <p>Only png,jpg,jpeg,gif files are allowed.</p><button (click)="closeError()" ion-button><ion-icon name="close"></ion-icon></button>
      </ion-col>
      <ion-col  no-padding   col-12 *ngIf="filesize_error == '1'">
        <p error-file>File size exceeded.please upload files upto 500 MB.<button small type="button" (click)="closeErrorS()" ion-button><ion-icon name="close"></ion-icon></button></p>
      </ion-col>
    </ion-row>
      <ion-item>
        <button ion-button icon-left (click)="presentActionSheet()" *ngIf="isBrowser == 'false'">
          <ion-icon name="camera"></ion-icon>Select Image
        </button>
        <input type="file" ng2FileSelect [uploader]="uploader"  *ngIf="isBrowser =='true' " [(ngModel)]="image">
     </ion-item>
      <ion-item>
        <ion-input label="Name" labelPlacement="stacked" type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Username/Email" labelPlacement="stacked" type="email" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" labelPlacement="stacked" type="passwrod" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Select Level" [(ngModel)]="passwordlevel">
          <ion-select-option value="{{level}}" *ngFor="let level of allowed_levels">Level {{level}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button color="primary" expand="block" (click)="uploadImage()">Submit</ion-button>
    </ion-content>
