
<!-- <ion-menu side="end" contentId="main-content">
  <ion-header class="right-top" >
    <ion-toolbar class="right-side" >
      <ion-icon name="close" class="close-icon" menuToggle (click)="close()" ></ion-icon>
        <img *ngIf="userImage == '' || userImage == null || userImage == undefined"  alt="image" class="profile-rounded-circle" src="assets/img/m7.png">
        <img *ngIf="userImage != '' && userImage != null && userImage != undefined" alt="image" class="profile-rounded-circle" src="{{APIURL}}/images/{{userImage}}">
    </ion-toolbar>
      <h5 text-center fnt-bold fnt-white>{{userName}}</h5 >
  </ion-header>

  <ion-content class="right-content" darkgrey scroll-css>
    <ion-list margin0>
      <ion-menu-toggle *ngFor="let p of pages">
        <ion-item  button routerLink="{{p.url}}">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
      <ion-item  button  (click)="Logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
      <ion-item  button >
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        <ion-label>Remove Account</ion-label>
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>

</ion-menu> -->

<div class="ion-page" id="main-content">
  <!--<ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
      <ion-buttons slot="end">
        <button tooltip="Notifications" positionV="bottom" arrow btn-grid  fnt-white  hide-notification (click)="presentPopover($event)">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge badge-notification color="danger" *ngIf="notification0.length > 0"> {{counts?.notify0_count}}</ion-badge>
       </button>
        <ion-menu-button>
          <ion-icon name="close" close-icon menuToggle></ion-icon>
          <img *ngIf="userImage == '' || userImage == null || userImage == undefined"  alt="image" class="rounded-circle" src="assets/img/m7.png">
          <img *ngIf="userImage != '' && userImage != null && userImage != undefined" alt="image" class="rounded-circle" src="{{APIURL}}/images/{{userImage}}">    
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>-->
  <app-header></app-header>
  
  <ion-breadcrumbs>
    <ion-breadcrumb href="#home">Home</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-content  has-header>
    <div breadcrumb-height></div>
    <ion-grid class="pt-0 pb-0">
      <ion-row>
        <ion-col class="m-box">   
          <ion-item [button]="true"  no-lines detail="false" (click)="openSmailPage()">
            <div class="unread-indicator-wrapper" slot="start">
              <ion-icon  name="mail-outline" class="icon-wrap" item-start></ion-icon> 
            </div>
            <ion-label>
              <ion-text>
                <h2 class="ion-text-title">Smail</h2>
              </ion-text>
              <ion-note color="medium" class="ion-text-wrap">
                Compose, Send, and Receive Internal Salvum Messages
              </ion-note>
            </ion-label> 
          </ion-item>
        </ion-col>
        <ion-col class="m-box">
          <ion-item [button]="true"  no-lines detail="false" (click) = "openContacts()" >
            <div class="unread-indicator-wrapper" slot="start">
              <ion-icon name="person-circle-outline" class="icon-wrap"></ion-icon>
            </div>
            <ion-label>
              <ion-text>
                <h2 class="ion-text-title">Contacts</h2>
              </ion-text>
              <ion-note color="medium" class="ion-text-wrap">
                Manage, View and Update Connected Users
              </ion-note>
            </ion-label> 
          </ion-item>
        </ion-col>
        <ion-col class="m-box">   
          <ion-item [button]="true"  no-lines detail="false"  (click) = "openFilesPage()" >
            <div class="unread-indicator-wrapper" slot="start">
              <ion-icon name="document-outline" class="icon-wrap" item-start></ion-icon>
            </div>
            <ion-label>
              <ion-text>
                <h2 class="ion-text-title">Files</h2>
              </ion-text>
              <ion-note color="medium" class="ion-text-wrap">
                Manage Your Personal and Profession Files
              </ion-note>
            </ion-label> 
          </ion-item>
        </ion-col>
        <ion-col class="m-box">
          <ion-item [button]="true"  no-lines detail="false" (click) = "openBidPage()" >
            <div class="unread-indicator-wrapper" slot="start">
              <span class="icon-wrap"><img style="margin-top: 8px;" src="https://www.serrare.com/userpanel/assets/img/bid_icon_white.png" width="18px"></span>
            </div>
            <ion-label>
              <ion-text>
                <h2 class="ion-text-title">Bidding</h2>
              </ion-text>
              <ion-note color="medium" class="ion-text-wrap">
                Bid on Invited Jobs
              </ion-note>
            </ion-label> 
          </ion-item>
      
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="bg-grey gap-1">
      <ion-row>
    </ion-row>
  </ion-grid>

  <ion-row>

    <ion-col class="m-box">   
      <ion-item [button]="true"  no-lines detail="false"  (click) = "openJobsPage()" >
        <div class="unread-indicator-wrapper" slot="start">
          <ion-icon name="briefcase-outline" class="icon-wrap" item-start></ion-icon>
        </div>
        <ion-label>
          <ion-text>
            <h2 class="ion-text-title">Job Management</h2>
          </ion-text>
          <ion-note color="medium" class="ion-text-wrap">
            Create Jobs, View Posted Jobs, Submit Proposal
          </ion-note>
        </ion-label> 
      </ion-item>
    </ion-col>
    
    <ion-col class="m-box">   
      <div class="white-box activity-widget switchcompany" *ngIf="companies != ''">
        <ion-item>
          <ion-label>Switch Company</ion-label>
          <ion-select [(ngModel)]="companyId"  >
            <ion-select-option *ngFor="let company of companies"value="{{company._id}}" selected="{{companyId == company._id}}">{{company.company_name}}</ion-select-option>

        </ion-select>
         
        </ion-item>
        <ion-button size="small" color="primary" (click)="switchCompany()">Switch company</ion-button>
      </div>
    </ion-col>

  </ion-row>

  <ion-grid class="bg-grey gap-1">
    <ion-row>
  </ion-row>
</ion-grid>


    <!--<ion-item (click) = "openJobsPage()" left margin0 dashboard dash-btm brhover class="management">
        <div class="unread-indicator-wrapper" slot="start">
          <ion-icon name="briefcase-outline" item-start></ion-icon> 
        </div>
        <ion-label>
          <ion-text>    Job Management    </ion-text><br />
          <ion-note color="medium" class="ion-text-wrap">
            Create Jobs, View Posted Jobs, Submit Proposal
          </ion-note>
        </ion-label> 
      </ion-item >-->
  
      <ion-row>
        <ion-col class="m-box">
            <div class="white-box activity-widget min-h-382">
              <h4 class="box-title">Friend Request Log</h4>
              <div class="steamline">
                    <div class="sl-item" *ngFor="let member of members  | slice:0:4; let i=index "> 
                        <div class="sl-left">
                            <div>
                              <ion-avatar item-start class="card-img" left>
                                <img src="assets/img/user-dummy.png" *ngIf="member.image == ''">
                                <img src="{{APIURL}}/images/{{member.image}}"  *ngIf="member.image !== ''">
                              </ion-avatar>
                            </div>
                        </div>
                        <div class="sl-right">
                            <div><b class="text-link font-semibold">{{member.name}}</b> sent you friend request   <div class="sl-btn">
                              <button ion-button color="green" outline round (click)="acceptContact(member)">Accept</button>
                              <button ion-button color="danger"  (click)="rejectContact(member)" outline round>Reject</button>
                                </div></div>
                            <p>{{member.created_on | timeAgo}}</p>
                            <!-- <p>{{member.created_on }}</p> -->
                        </div>
                    </div>
                    <div class="sl-item" *ngIf="members.length == 0" text-center>No Friend Request Yet!</div>
                      
                  
                </div>
            </div>
          </ion-col>
          <ion-col class="m-box">
            <ion-row>
              <ion-col (click)="openUpgradePack()" cursor-enb>
                
                    Current Membership
      
                    <p style="min-height : auto" fnt-light *ngIf="subscription_amount == '0'">
                    {{subscription == '' ? 'Expired' : subscription_title}}</p>
                    <p style="min-height : auto" fnt-light *ngIf="subscription_amount != '0' && is_recurring_billing == '1'">
                    {{subscription == '' ? 'Expired' : subscription_title}} &nbsp;&nbsp;&nbsp;( {{subscription_expiry == '1' ? 'Auto renewing today' : 'Auto renew in '+(subscription_expiry - 1)+' days'}})</p>
                    <p style="min-height : auto" fnt-light *ngIf="subscription_amount != '0' && is_recurring_billing != '1'">
                    {{subscription == '' ? 'Expired' : subscription_title}} &nbsp;&nbsp;&nbsp;({{subscription_expiry == '1' ? 'expired today' : (subscription_expiry - 1)+' days left'}})</p> 
                    
                    <p style="min-height : auto" fnt-light *ngIf="is_license_activated == '0'">
                    No active license</p> 
                    <p style="min-height : auto" fnt-light *ngIf="is_license_activated > '0'">
                    Active license &nbsp;&nbsp;&nbsp;(expired {{license_expiry == '1' ? 'today' : 'in '+(license_expiry - 1)+' days'}})</p> 

                    <ion-row>
                      <ion-col col-10 col-xl-9 col-lg-9 col-md-8> 
                      <h2 fnt-regular>
                      <sup>
                      <small><ion-icon class="icon-dashboard" name="arrow-up"></ion-icon></small></sup>
                      <span upgrade-now>{{is_recurring_billing == '1' ? 'Cancel Recurring' : (subscription_amount > '0' ? 'Renew Now' : 'Upgrade Now')}}</span>
                      </h2>
                       </ion-col>
                       
                          <ion-col col-2 col-xl-3 col-lg-3 col-md-4 text-right>  
                       <ion-icon class="icon-right" name="arrow-dropup-circle" item-end margin0></ion-icon>
                       </ion-col>
                    </ion-row>
                
              </ion-col>

              <ion-col (click)="openExtraspace()">
                Space Stats
                <p fnt-light m-b-3em>
                  {{stats?.consumed_space}} ({{consumed_percent}}%) of {{stats?.total_space > 1000 ? (stats?.total_space/1000).toFixed(2) : stats?.total_space}} {{stats?.total_space > 1000 ? 'TB' : stats?.space_type}} used
                </p>
                <ion-row>
                  <ion-col col-10 col-xl-9 col-lg-9 col-md-8> 
                    <h2 fnt-regular>
                    <sup>
                    <small><ion-icon class="icon-dashboard" name="arrow-up"></ion-icon></small></sup>
                    <span upgrade-now>Buy More Space</span>
                    </h2>
                    </ion-col>
                      <ion-col col-2 col-xl-3 col-lg-3 col-md-4 text-right> 
                        <ion-icon class="icon-right" name="pie" item-end margin0></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>

            </ion-row>
            <ion-row>
              <ion-col class="m-box">   
                <ion-item [button]="true"  no-lines detail="false" (click)="openContacts()">
                  <div class="unread-indicator-wrapper" slot="start">
                    <ion-icon  name="phone-portrait" class="icon-wrap-light" item-start></ion-icon> 
                  </div>
                  <ion-label>
                    <ion-text>
                      <h2 class="ion-text-title">Total Contacts</h2>
                    </ion-text>
                    <ion-note color="medium" class="ion-text-wrap">
                      {{total_contacts}}
                    </ion-note>
                  </ion-label> 
                </ion-item>
              </ion-col>
              <ion-col class="m-box">   
                <ion-item [button]="true"  no-lines detail="false" (click)="openJobsPage()">
                  <div class="unread-indicator-wrapper" slot="start">
                    <ion-icon  name="mail-outline" class="icon-wrap-light" item-start></ion-icon> 
                  </div>
                  <ion-label>
                    <ion-text>
                      <h2 class="ion-text-title">Total Job Posted</h2>
                    </ion-text>
                    <ion-note color="medium" class="ion-text-wrap">
                      {{total_jobs_posted}}
                    </ion-note>
                  </ion-label> 
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="m-box">   
                <ion-item [button]="true"  no-lines detail="false" (click)="openBidPage()">
                  <div class="unread-indicator-wrapper" slot="start">
                    <ion-icon  name="paper-plane-outline" class="icon-wrap-light" item-start></ion-icon> 
                  </div>
                  <ion-label>
                    <ion-text>
                      <h2 class="ion-text-title">Job Invitations</h2>
                    </ion-text>
                    <ion-note color="medium" class="ion-text-wrap">
                      {{total_jobs_invitation}}
                    </ion-note>
                  </ion-label> 
                </ion-item>
              </ion-col>
              <ion-col class="m-box">   
                <ion-item [button]="true"  no-lines detail="false" (click)="openBidPage()">
                  <div class="unread-indicator-wrapper" slot="start">
                    <ion-icon  name="checkbox-outline" class="icon-wrap-light" item-start></ion-icon> 
                  </div>
                  <ion-label>
                    <ion-text>
                      <h2 class="ion-text-title">Total Applied Jobs</h2>
                    </ion-text>
                    <ion-note color="medium" class="ion-text-wrap">
                      {{total_applied_jobs}}
                    </ion-note>
                  </ion-label> 
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-grid class="bg-grey gap-1">
          <ion-row>
        </ion-row>
      </ion-grid>

    <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title class="ion-text-center">I am <br> advertisement</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
    </ion-grid>
    <div footer-height></div> 
    <!-- <div class="notification-section" *ngIf="allNotice == true" (clickOutside)="onClickedOutside($event)" clickOutsideEnabled="true">
      <ion-list margin0 *ngIf="notification0?.length > 0">
         <ion-list-header br-btm margin0>You have {{counts?.notify0_count}} new messages</ion-list-header>
         <ion-item *ngFor="let notice of notification0 | slice:0:3;  let i=index ">
            <ion-avatar item-start>
            <ng-container *ngIf="notice.isAdmin == '1'">
            <img src="assets/img/logo-icon.png" >
            </ng-container>
            <ng-container *ngIf="notice.isAdmin != '1'">
            <div *ngIf="notice.senderId != notice.receiverId">
               <img src="assets/img/m7.png" *ngIf="notice.image == ''">
               <img src="{{APIURL}}/images/{{notice.image}}" *ngIf="notice.image != ''">
            </div>
            <div *ngIf="notice.senderId == notice.receiverId">
               <img src="assets/img/m7.png">
            </div>
            </ng-container>
            </ion-avatar>
            <h6 fnt-regular fnt12 *ngIf="notice.type == 0" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been accepted your friend request.</h6>
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 1" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} sent you friend request.</h6>
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 5" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has replied on Smail.</h6>
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 9" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been rejected your friend request.</h6>
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 37" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been removed you as friend.</h6> 
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 38" (click)="readNotis(notice._id)">{{notice.senderName}} has shared a job {{notice.info?.job_name}}({{notice.info?.job_number}}) under company {{notice.info?.company_name}}.</h6>  
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 4" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} invited you to bid on job {{notice.others}}. </h6>
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 7" (click)="readNotis(notice._id,notice.type,notice.others,notice.info)">{{notice.senderName}} has requested RFI on your trade {{notice.info?.trade_name}} of job {{notice.others}}. </h6>
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 8" (click)="readNotis(notice._id,notice.type,null,notice.info)">{{notice.senderName}} has replied on your RFI for trade {{notice.info?.trade_name}} of job {{notice.others}}. </h6> 
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 26" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has just bid on your job {{notice.others}}. </h6>
    
            <h6 fnt-regular fnt12 *ngIf="notice.type == 101" (click)="readNotis(notice._id,notice.type)">{{notice.senderName}} has been accepted your friend requset. </h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 15">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br> <span fnt12 color-light-grey> {{notice.isAdmin == '1' ? 'has assigned your license to '+notice.others+' users' : ' has assigned a new licenses to you.'}}</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 16"><span fnt12 color-light-grey>Your license has been used by {{notice.senderName}}  </span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 27"><span fnt12 color-light-grey>Your license key {{notice.others}} has been expired. </span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 31"><span fnt12 color-light-grey>Your license key {{notice.others}} has been renewed. </span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 150">{{notice.senderName}} <br><span fnt12 color-light-grey>has updated transmittal #{{notice.others}}.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type,notice.others)" fnt-regular  *ngIf="notice.type == 32">{{notice.senderName}} <br><span fnt12 color-light-grey>has sent you an invitation to share a job.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 33">{{notice.senderName}} <br><span fnt12 color-light-grey>has been accepted your invitation to share a job.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 34">{{notice.senderName}} <br><span fnt12 color-light-grey>has been rejected your invitation to share a job.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 35">{{notice.senderName}} <br><span fnt12 color-light-grey>has requested RFI for job {{notice.others}}.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 200">{{notice.senderName}} <br><span fnt12 color-light-grey>has been awarded you a job {{notice.others}}.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 36">{{notice.senderId == notice.receiverId ? 'Engineer' : notice.senderName}} <br><span fnt12 color-light-grey>has replied on your requested RFI for job {{notice.others}}.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 28">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has extended your license ({{notice.others}}) expiry.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type,null,notice.info)" fnt-regular  *ngIf="notice.type == 30">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has sent transmittal on job {{notice.info?.job_title}}.</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 29"><span fnt12 color-light-grey>Your license has been activated. </span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 17">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> has removed {{notice.isAdmin == '1' ? notice.senderName+' used license key assigned by you.' : 'your license key.'}}</span></h6>
    
            <h6 (click)="readNotis(notice._id,notice.type)" fnt-regular  *ngIf="notice.type == 18">{{notice.isAdmin == '1' ? 'Admin' : notice.senderName}} <br><span fnt12 color-light-grey> {{notice.isAdmin == '1' ? 'Assigned license key to '+notice.senderName+' has been removed.' : 'Assigned license key has been removed.'}}</span></h6>
    
            <p fnt-regular fnt12>{{timesAgo(notice.created_on)}}</p>
            </ion-item>
         <ion-list-header br-btm margin0 (click)="seeAllNotifications()">
            <button bg-transparent>
            See All Notifications 
            </button>
         </ion-list-header>
      </ion-list>
      <ion-list *ngIf="notification0.length == 0" margin0 text-center   bg-white>
       <div padding>  No Notifications Yet! </div>
         <ion-list-header br-btm margin0 (click)="seeAllNotifications()">
            <button bg-transparent>
            See All Notifications 
            </button>
         </ion-list-header>
      </ion-list>
    </div> -->
    </ion-content>
    
    
    
    
</div>
  
  