<app-header></app-header>

<ion-row main-breadcrumb ion-fixed style="top:60px">
   <ion-col>
      <ol class="breadcrumb">
         <li (click)="root()"><a>Home</a></li>
         <li class="active"><a>Profile</a></li> 
      </ol>
   </ion-col>
</ion-row>

<ion-content lightgrey has-header>
   <div breadcrumb-height></div>
<ion-row>
   <ion-col size="12" size-md="6">

   
<ion-card>
   <ion-list  br-lt-grey group-head head-profile>
      <ion-list-header margin0 no-border profile-image br-btm class="bg-primary text-center">
         <ion-item fnt14 no-border text-center color="primary">
            <div text-center profile-top  profile-div float-left>
               <ion-avatar>
                  <img alt="image" class="rounded-circle" src="assets/img/user-dummy.png" *ngIf="!data?.image">
                  <img alt="image" class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{data?.image}}"  *ngIf="data?.image">
                  <ion-icon name="create" (click)="openEditprofilePage(data)" class="e-icon"></ion-icon>
               </ion-avatar>
               <h2  fnt-bold fnt-white>{{data?.name}}</h2>
            </div>
         </ion-item>
      </ion-list-header>
      <ion-item-group *ngIf="isBrowser == 'true'">
         <ion-item>
            <ion-icon name="logo-facebook" item-start left></ion-icon>
            <p *ngIf="data?.facebook == '' || data?.facebook == undefined">Link facebook account</p>
            <a *ngIf="data?.facebook != '' && data?.facebook != undefined" [href]="data?.facebook.search('http') >= 0 ? data?.facebook : 'http://'+data?.facebook" target="_blank">{{data?.facebook.search('http') >= 0 ? data?.facebook : 'http://'+data?.facebook}}</a>
         </ion-item>
         <ion-item>
            <ion-icon name="logo-twitter" item-start left></ion-icon>
            <p *ngIf="data?.twitter == '' || data?.twitter == undefined">Link twitter account</p>
            <a *ngIf="data?.twitter != '' && data?.twitter != undefined" [href]="data?.twitter.search('http') >= 0 ? data?.twitter : 'http://'+data?.twitter" target="_blank">{{data?.twitter.search('http') >= 0 ? data?.twitter : 'http://'+data?.twitter}}</a>
         </ion-item>
         <ion-item>
            <ion-icon name="logo-google" item-start left></ion-icon>
            <p *ngIf="data?.gplus == '' || data?.gplus == undefined">Link googleplus account</p>
            <a *ngIf="data?.gplus != '' && data?.gplus != undefined" [href]="data?.gplus.search('http') >= 0 ? data?.gplus : 'http://'+data?.gplus" target="_blank">{{data?.gplus.search('http') >= 0 ? data?.gplus : 'http://'+data?.gplus}}</a>
         </ion-item>
         <ion-item>
            <ion-icon name="logo-linkedin" item-start left></ion-icon>
            <p *ngIf="data?.linkdin == '' || data?.linkdin == undefined">Link linkedin account</p>
            <a *ngIf="data?.linkdin != '' && data?.linkdin != undefined" [href]="data?.linkdin.search('http') >= 0 ? data?.linkdin : 'http://'+data?.linkdin" target="_blank">{{data?.linkdin.search('http') >= 0 ? data?.linkdin : 'http://'+data?.linkdin}}</a>
         </ion-item>
      </ion-item-group>
      <!-- if app screen -->
      <ion-item-group *ngIf="isBrowser == 'false'">
         <ion-item>
            <ion-icon name="logo-facebook" item-start left></ion-icon>
            <p *ngIf="data?.facebook == '' || data?.facebook == undefined">Link facebook account</p>
            <a *ngIf="data?.facebook != '' && data?.facebook != undefined" (click)="openAppBrowser(data?.facebook)" >{{data?.facebook}}</a>
         </ion-item>
         <ion-item>
            <ion-icon name="logo-twitter" item-start left></ion-icon>
            <p *ngIf="data?.twitter == '' || data?.twitter == undefined">Link twitter account</p>
            <a *ngIf="data?.twitter != '' && data?.twitter != undefined" (click)="openAppBrowser(data?.twitter)">{{data?.twitter}}</a>
         </ion-item>
         <ion-item>
            <ion-icon name="logo-google" item-start left></ion-icon>
            <p *ngIf="data?.gplus == '' || data?.gplus == undefined">Link googleplus account</p>
            <a *ngIf="data?.gplus != '' && data?.gplus != undefined" (click)="openAppBrowser(data?.gplus)">{{data?.gplus}}</a>
         </ion-item>
         <ion-item>
            <ion-icon name="logo-linkedin" item-start left></ion-icon>
            <p *ngIf="data?.linkdin == '' || data?.linkdin == undefined">Link linkedin account</p>
            <a *ngIf="data?.linkdin != '' && data?.linkdin != undefined" (click)="openAppBrowser(data?.linkdin)">{{data?.linkdin}}</a>
         </ion-item>
      </ion-item-group>
   </ion-list>
</ion-card>
</ion-col>
<ion-col size="12" size-md="6">
   <ion-card>
   <ion-list br-lt-grey group-head>
      <ion-card *ngIf="showHelpText == true">
        <ion-card-content>
          Please click the "Companies" button for the email on which you want to get job alerts and select your email preferences.You need to verify the email to get notifications.You can also add the emails by clicking "+ Add" button. 
        </ion-card-content>
      </ion-card>
      <ion-list-header color="lightgrey" margin0 br-btm >
         <ion-label>Emails</ion-label>
         <!-- Emails -->
         <!-- <button (click)="addEmails()" class="addEmails" color="primary"><ion-icon name="add"></ion-icon>Add</button> -->
         <ion-button size="small"  class="addEmails" (click)="addEmails()"  >
            <ion-icon slot="start" name="add"></ion-icon>
           Add
          </ion-button>
      </ion-list-header>

      <ion-item-group>
         <ion-item>
            <ion-icon name="mail" item-start left ></ion-icon>
            <div class="mailcontent">
               {{current_email}} (Primary)
            </div>
          <ion-icon class="success_mark" name="checkmark-circle" title="Verified"></ion-icon>
         </ion-item>
         <ion-item *ngFor="let email of secondary_emails; let indx = index ">
            <ion-icon name="mail-outline" item-start left></ion-icon>
               {{email.email}}
            <ion-icon *ngIf="email.isVerified == '0'" class="error_mark" name="alert" title="Not verified"></ion-icon>
            <ion-icon *ngIf="email.isVerified == '1'" class="success_mark" name="checkmark-circle" title="Verified"></ion-icon>
            <!-- <span *ngIf="email.isVerified == '1'" class="form-custom-check one" item-end checkbox-responsive>
             <input [checked]="email.isNotify == '1' ? true : false" (change)="updateJobNotisEmail(email._id,email.isNotify)" type="checkbox" id="checkbox11{{indx}}" name="checkbox11{{indx}}" class="form-check-input">
               <label class="form-check-label"  for="checkbox11{{indx}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Job Alerts</label>
            </span> -->
            <ion-toolbar>
               <ion-buttons slot="end" size="small">
                  <ion-button (click)="assignCompany(email._id,email.alertIds,email.companyIds)" *ngIf="email.isVerified == '1'" fill="solid" color="primary">Companies</ion-button>
                  <ion-button (click)="verifyEmail(email._id,email.email)" *ngIf="email.isVerified == '0'" fill="solid" color="primary">Verify</ion-button>
                  <ion-button (click)="makePrimary(email._id,email.email)" *ngIf="email.isVerified == '1'" fill="solid" color="primary">Make Primary</ion-button>
                  <ion-button>
                     <ion-icon name="close-outline"  (click)="deleteEmails(email._id,email.isVerified)"></ion-icon></ion-button>
               </ion-buttons>
            </ion-toolbar>
         </ion-item>
      </ion-item-group>
   </ion-list>
   </ion-card>
   <ion-card> 
      <ion-list  br-lt-grey group-head>
         
      <ion-list-header color="lightgrey" margin0 br-btm>
        
         <ion-label> General Info </ion-label>
         <ion-icon (click)="openEditprofilePage(data)" class="edit-icon" name="pencil-outline" item-end color="blue" edit-hover></ion-icon>
      </ion-list-header>
      <!-- if web view -->
      <ion-item-group *ngIf="isBrowser == 'true'">
         <ion-item *ngIf="data?.name != '' && data?.name != undefined ">
            <ion-icon name="person-outline" item-start left></ion-icon>
            {{data?.name}}
         </ion-item>
         <ion-item *ngIf="data?.name == ''  ||  data?.name == undefined"  placeholder-text>
            <ion-icon name="person-outline" item-start left></ion-icon>
            <p>Name</p>
         </ion-item>
         <ion-item  *ngIf="data?.phone != '' && data?.phone !=  undefined && data?.phone !=  null" >
            <ion-icon name="call" item-start left></ion-icon>
            {{data?.phone}}
         </ion-item>
         <ion-item  *ngIf="data?.phone ==  '' || data?.phone ==  undefined || data?.phone ==  null"  placeholder-text>
            <ion-icon name="call" item-start left></ion-icon>
            <p>Enter Phone</p>
         </ion-item>
         <ion-item  *ngIf="data?.address != '' && data?.address != undefined ">
            <ion-icon name="locate" item-start left></ion-icon>
            {{data?.address}}
         </ion-item>
         <ion-item  *ngIf="data?.address == '' || data?.address == undefined " placeholder-text>
            <ion-icon name="locate" item-start left></ion-icon>
            <p>Enter Address</p>
         </ion-item>
         <ion-item  *ngIf="data?.company != '' && data?.company != undefined " >
         <ion-icon name="home" item-start left></ion-icon>
            {{data?.company}}
         </ion-item>
         <ion-item  *ngIf="data?.company == '' || data?.company == undefined  " placeholder-text>
            <ion-icon name="home" item-start left></ion-icon>
            <p>Enter Company Name</p>
         </ion-item>
         <ion-item  *ngIf="data?.website != '' &&  data?.website != undefined  ">
            <ion-icon name="link" item-start left></ion-icon>
            <a href="{{data?.website}}" target="_blank">{{data?.website}}</a>
         </ion-item>
         <ion-item  *ngIf="data?.website == '' || data?.website == undefined  " placeholder-text>
            <ion-icon name="link" item-start left></ion-icon> <p>Enter Website</p>
         </ion-item>
         <ion-item  *ngIf="data?.gender != '' && data?.gender != undefined " text-capitalize>
            <ion-icon name="person" item-start left></ion-icon>
            {{data?.gender}}
         </ion-item>
         <ion-item  *ngIf="data?.gender == ''|| data?.gender == undefined " placeholder-text>
            <ion-icon name="person" item-start left></ion-icon>
            <p>Enter Gender</p>
         </ion-item>
         <ion-item  *ngIf="data?.lang != '' && data?.lang != undefined  ">
            <ion-icon name="globe" item-start left></ion-icon>
            {{data?.lang}}
         </ion-item>
         <ion-item  *ngIf="data?.lang == '' || data?.lang == undefined " placeholder-text>
            <ion-icon name="globe" item-start left></ion-icon>
            <p>Enter Language</p>
         </ion-item>
      </ion-item-group>

      <!-- if app view -->
      <ion-item-group *ngIf="isBrowser == 'false'">
         <ion-item *ngIf="data?.name != '' ">
            <ion-icon name="ios-person-outline" item-start left></ion-icon>
            {{data?.name}}
         </ion-item>
         <ion-item *ngIf="data?.name == '' "  placeholder-text>
            <ion-icon name="ios-person-outline" item-start left></ion-icon>
            Name
         </ion-item>
         <ion-item  *ngIf="data?.phone != '' && data?.phone !=  undefined && data?.phone !=  null" >
            <ion-icon name="call" item-start left></ion-icon>
            {{data?.phone}}
         </ion-item>
         <ion-item  *ngIf="data?.phone ==  '' || data?.phone ==  undefined || data?.phone ==  null"  placeholder-text>
            <ion-icon name="call" item-start left></ion-icon>
            Enter Phone
         </ion-item>
         <ion-item  *ngIf="data?.address != '' && data?.address != undefined">
            <ion-icon name="locate" item-start left></ion-icon>
            {{data?.address}}
         </ion-item>
         <ion-item  *ngIf="data?.address == '' || data?.address == undefined" placeholder-text>
            <ion-icon name="locate" item-start left></ion-icon>
            Enter Address
         </ion-item>
         <ion-item  *ngIf="data?.company != '' && data?.company != undefined ">
            <ion-icon name="home" item-start left></ion-icon>
            {{data?.company}}
         </ion-item>
         <ion-item  *ngIf="data?.company == '' || data?.company == undefined " placeholder-text>
            <ion-icon name="home" item-start left></ion-icon>
            Enter Company Name
         </ion-item>
         <ion-item  *ngIf="data?.website != '' && data?.website != undefined ">
            <ion-icon name="link" item-start left></ion-icon>
            <a (click)="openAppBrowser(data?.website)">{{data?.website}}</a>
         </ion-item>
         <ion-item  *ngIf="data?.website == '' || data?.website == undefined " placeholder-text>
            <ion-icon name="link" item-start left></ion-icon> Enter Website
         </ion-item>
         <ion-item  *ngIf="data?.gender != '' && data?.gender != undefined " text-capitalize>
            <ion-icon name="person" item-start left></ion-icon>
            {{data?.gender}}
         </ion-item>
         <ion-item  *ngIf="data?.gender == '' || data?.gender == undefined" placeholder-text>
            <ion-icon name="person" item-start left></ion-icon>
            Enter Gender
         </ion-item>
         <ion-item  *ngIf="data?.lang != '' && data?.lang != undefined ">
            <ion-icon name="globe" item-start left></ion-icon>
            {{data?.lang}}
         </ion-item>
         <ion-item  *ngIf="data?.lang == '' || data?.lang == undefined " placeholder-text>
            <ion-icon name="globe" item-start left></ion-icon>
            Enter Language
         </ion-item>
      </ion-item-group>
 </ion-list>
</ion-card>
<ion-card>
   <ion-list  br-lt-grey group-head>
      <ion-list-header color="lightgrey" margin0 br-btm *ngIf="level1 == 'false' && level2 != 'false'">
         <ion-label> Password </ion-label>  
         <ion-icon name="create" item-end color="blue" (click)="openChangepasswordPage()" edit-hover></ion-icon>
      </ion-list-header>
      <ion-list-header color="lightgrey" margin0 br-btm *ngIf="level1 == 'false' && level2 == 'false'">
         <ion-label> Passwords </ion-label>   
         <ion-icon name="create" item-end color="blue" (click)="openChangepasswordPage()" edit-hover></ion-icon>
      </ion-list-header>
      <ion-item-group>
         <ion-item *ngIf="level1 == 'false' ">
            <ion-icon name="key" item-start left></ion-icon>
            <p>Level 1 </p>
         </ion-item>
         <ion-item *ngIf="level2 == 'false' ">
            <ion-icon name="key" item-start left></ion-icon>
         <p>Level 2 </p> 
         </ion-item>
         <ion-item *ngIf="level3 == 'false' ">
            <ion-icon name="key" item-start left></ion-icon>
            <p>Level 3 </p>
         </ion-item>
         <ion-item *ngIf="level4 == 'false' ">
            <ion-icon name="key" item-start left></ion-icon>
           <p>Level 4 </p> 
         </ion-item>
      </ion-item-group>
   </ion-list>
</ion-card>
</ion-col>
</ion-row>

   <div footer-height></div>
   </ion-content>