<ion-header modal-white>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Edit Password Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<ion-row>
    <ion-col *ngIf="filetype_error == '1'">
      <p error-file>Only txt,docx,xls,xlsx,zip,doc,odt,png,jpg,jpeg,gif,pdf,csv files are allowed.<ion-button  size="small" color="danger" (click)="closeError()" ion-button><ion-icon name="close"></ion-icon></ion-button></p>
    </ion-col>
    <ion-col *ngIf="filesize_error == '1'">
      <p>File size exceeded.please upload files upto 500 MB.<ion-button size="small" color="danger" type="button" (click)="closeErrorS()" ion-button><ion-icon name="close"></ion-icon></ion-button></p>
    </ion-col>
    <ion-col size="12">
      <ion-item >
          <!-- <ion-label floating fnt-regular >Upload Logo</ion-label> -->
          <!-- <ion-input type="file" ></ion-input> -->
          
        <img alt="image"  width="100px"  height="100px" class="rounded-circle" src="assets/img/m7.png"  *ngIf="!data.logo">
        <img alt="image" width="100px"  height="100px"  class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{data.logo}}" *ngIf="!imageData && data.logo">
        <img alt="image" width="100px"  height="100px"  class="rounded-circle" src="{{imageData}}" 
            *ngIf="imageData">



        <ion-buttons>
            <ion-button size="small" color="medium" (click)="presentActionSheet()" *ngIf="isBrowser == 'false'">
            <ion-icon name="camera"></ion-icon>
              Select Image
            </ion-button>

            <input type="file" ng2FileSelect [uploader]="uploader"  *ngIf="isBrowser =='true' " [(ngModel)]="image">
        </ion-buttons>

      </ion-item>

      <ion-item>
        <ion-input label="Name" labelPlacement="stacked" type="text" [(ngModel)]="data.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="User Name / Email" labelPlacement="stacked" type="email" [(ngModel)]="data.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Password" labelPlacement="stacked" type="password" [(ngModel)]="data.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating fnt-light fnt-regular>Select Level</ion-label>
        <ion-select  cancelText="Cancel" okText="Okay!" [(ngModel)]="data.passwordlevel">
          <ion-select-option value="1" selected="true">Level 1</ion-select-option>
          <ion-select-option value="2">Level 2</ion-select-option>
          <ion-select-option value="3">Level 3</ion-select-option>
          <ion-select-option value="4">Level 4</ion-select-option>
        </ion-select>
      </ion-item>

        <div>
          <ion-button color="primary" expand="block" (click)="uploadImage()">Update</ion-button>
        </div>

    </ion-col>
  </ion-row>
</ion-content>

