<app-header></app-header>
<app-header></app-header>
<ion-content padding padd-mob-all-5 lightgrey manage-job tradingmob (window:resize)="caclHeight()" has-header>
  <div ion-fixed id="calc_height_trades{{timestamp}}" fixed-top-div>
  <ion-row main-breadcrumb> 
    <ion-col>
      <ol class="breadcrumb">
        <li (click)="root()"><a>Home</a></li>
        <li (click)="goToJobs()"><a>Jobs</a></li>
        <li *ngIf="only_view != '1'" (click)="backToPage()"><a>{{active_job_breadcrumb}}</a></li> 
        <li class="active">Trades</li>
      </ol>
    </ion-col>
   </ion-row>
   <ion-searchbar padd-mob-lr-10 (ionInput)="getItems($event)"  p-5></ion-searchbar>
        <div button-hide p-0-3 padd-mob-lr-10 w-100> 
          <ion-button *ngIf="only_view != '1'" ion-button (click) = "addTradePage(job_id)" color="primary" >
              <ion-icon name="add" m-r-5></ion-icon>
              <span class="hidden-xs">Add Trade </span>
           </ion-button>     
           <ion-button *ngIf="only_view != '1'" ion-button (click)="deleteMultipleTrades()" color="primary">
              <ion-icon name="trash" m-r-5></ion-icon>
              <span class="hidden-xs">Delete</span>
           </ion-button>
           <ion-button *ngIf="only_view != '1'" ion-button (click) = "jobCalendar(job_id)" color="primary">
              <ion-icon name="eye" m-r-5></ion-icon>
              <span class="hidden-xs">View Events</span>
           </ion-button>
        </div>
  </div> 
  <div clearfix id="fixed_height_trades{{timestamp}}"></div>
    <ion-list   margin0 clearboth>
       <ion-row>
                 <ion-col size="12" size-md="6" *ngFor="let trade of alltrades; let indx = index ">
                     <ion-card class="m-box">
                        <ion-item-sliding #item br-lt-grey list-hover>
                           <ion-item  border-none  manage-job>
                              <ion-avatar item-start icon-ionic >
                                 <i class="{{trade.trade_icon}}"></i>
                              </ion-avatar>
                              
                              <ion-label>
                                 <ion-row>
                                    <ion-col size="7" class=" font-small">
                                       <ion-text>
                                       <h2 class="ion-text-title">{{trade.trade_name}} <ion-badge color="primary" m-t-5 fnt-normal>{{trade.status == '0' ? 'Pending' : (trade.status == '1' ? 'Open' : 'Closed')}}</ion-badge></h2>
                                       </ion-text>
                                       <ion-text>
                                          {{trade.trade_task}}
                                       </ion-text>
                                       <ion-note color="medium" class="ion-text-wrap">
                                          <p *ngIf="trade.status != '2'">{{trade.isPosted == '1' ? 'Posted' : 'Not posted yet.'}}</p>
                                       </ion-note>
                                    </ion-col>
                                    <ion-col size="5" class="text-right">
                                       <ion-toolbar>
                                          <ion-buttons slot="end">
                                             <ion-button *ngIf="isBrowser == 'true'" size="small" color="primary" (click) = "EditTrade(trade._id)">
                                                <ion-icon name="create"></ion-icon>
                                             </ion-button>
                                             
                                             <ion-button *ngIf="isBrowser == 'true'" (click) = "tradeCalendar(trade._id)" size="small" color="primary">
                                                <ion-icon name="calendar"></ion-icon>
                                             </ion-button>
                                             <ion-button *ngIf="isBrowser == 'true'" size="small" color="primary" (click)="deleteTrade(trade._id)">
                                                <ion-icon name="trash"></ion-icon>
                                             </ion-button>
                                             <ion-button class="form-custom-check" color="light"  checkbox-responsive>
                                                <span class="form-custom-check"><input (change)="insertToArray($event,trade._id)" type="checkbox" id="checkbox{{indx}}{{timestamp}}" name="checkbox{{indx}}" class="form-check-input">
                                                 <label class="form-check-label" for="checkbox{{indx}}{{timestamp}}"></label></span>
                                               </ion-button> 
                                          </ion-buttons>
                                       </ion-toolbar>
                                    </ion-col>
                                  </ion-row>
                               </ion-label> 
                              
                        
                              
                              
                                 
                              
                           </ion-item>
                           <ion-item-options side="start" *ngIf="isBrowser == 'false'">
                              
                              <button (click) = "tradeCalendar(trade._id)" ion-button color="info">
                                 <ion-icon name="calendar"></ion-icon>
                                 Calendar
                              </button>
                           </ion-item-options>
                           <ion-item-options side="end" *ngIf="isBrowser == 'false'">
                              <button ion-button color="primary" (click) = "EditTrade(trade._id)">
                                 <ion-icon name="create"></ion-icon>
                                 Edit
                              </button>
                              <button ion-button color="danger" (click)="deleteTrade(trade._id)">
                                 <ion-icon name="trash"></ion-icon>
                                 Delete
                              </button>
                           </ion-item-options>
                        </ion-item-sliding>
                     </ion-card>
                 </ion-col>
                 <ion-col *ngIf="alltrades == ''">
                    <ion-item border-none br-lt-grey>No Trades Found.</ion-item>
                 </ion-col>
           </ion-row>
           </ion-list>
  <div footer-height></div> 
  </ion-content>