<app-header></app-header>

<ion-row main-breadcrumb ion-fixed style="top:60px">
   <ion-col size="6">
      <ol class="breadcrumb">
         <li (click)="root()"><a>Home</a></li>
         <li (click)="walletPage()"><a>Wallet</a></li>
         <li class="active"><a>Wallets</a></li> 
      </ol>
   </ion-col>
   <ion-col size="6">
      <ion-item lines="none">
        <ion-button id="add-card" slot="end" color="primary">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
   </ion-col>
</ion-row>

<ion-modal trigger="add-card" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>Add Level 1 Cards</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input label="Card Holder Name" labelPlacement="stacked" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Card No." labelPlacement="stacked" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="CVV" labelPlacement="stacked" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Expiry Date" labelPlacement="stacked" type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Card Type">
          <ion-select-option value="Visa">Visa</ion-select-option>
          <ion-select-option value="Master Card">Master Card</ion-select-option>
          <ion-select-option value="AMEX">AMEX</ion-select-option>
          <ion-select-option value="Discover">Discover</ion-select-option>
          <ion-select-option value="Diners Club">Diners Club</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Select Level">
          <ion-select-option value="Level 1">Level 1</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button color="primary" expand="block">Submit</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-content>
  
  <ion-card>
    <ion-card-content>
      No Data Found!
    </ion-card-content>
  </ion-card>

</ion-content>
