img.profile-rounded-circle {
    height: 70px;
    width: 70px;
  }
  
  ion-header{
  text-align: center;
  }
  .close-icon{
       position: absolute;
        right: 2px;
        top: 2px; 
  }
  ion-item.no-border {
  --border-width: 0;
  }
  ion-item.management {
  padding: 8px;
  background: lightgray;
  }