img.profile-rounded-circle {
    height: 70px;
    width: 70px;
  }
  
  ion-header{
  text-align: center;
  }
  .close-icon{
       position: absolute;
        right: 2px;
        top: 2px; 
  }
  ion-item.no-border {
  --border-width: 0;
  }
  ion-item.management {
  padding: 8px;
  background: lightgray;
  }

  ion-footer{
    position:absolute;
    bottom: 0;
  }

.box-shadow-none{
  box-shadow: none;
}
.bg-primary{
  --background: #1976d2;
  padding: 1em 0;
}
.bg-primary img {
  border-radius: 50%;
}
.bg-grey, .bg-grey ion-item{
  --background: #525e6c;
  --color: #ffffff;
}
ion-list.bg-grey{
  padding: 0;
}