<app-header></app-header>

<ion-row main-breadcrumb ion-fixed style="top:60px">
   <ion-col size="6">
      <ol class="breadcrumb">
         <li (click)="root()"><a>Home</a></li>
         <li (click)="walletPage()"><a>Wallet</a></li>
         <li class="active"><a>Sites</a></li> 
      </ol>
   </ion-col>
   <ion-col size="6">
     <ion-item lines="none">
        <ion-button slot="end" color="primary" (click)="presentModal3($event)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
   </ion-col>
</ion-row>
<ion-content *ngIf="isVisible == true">
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title color="primary">Social Media</ion-card-title>
      </ion-card-header>
       <ion-item-sliding #item br-lt-grey list-hover *ngFor="let site of social; let i = index ">
           <ion-item box-shadow  wallet-main>

              <ion-thumbnail item-start icon-ionic >
                 <img alt="image" class="rounded-circle" src="assets/img/m7.png" style=" " *ngIf="!site.logo">
                 <img alt="image" class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{site.logo}}" style="   " *ngIf="site.logo">
                 <!-- <ion-icon name="key" text-center></ion-icon> -->
              </ion-thumbnail>
              <h2 fnt-bold>{{site.selectCategory}}</h2>
              <h3 fnt-regular>Hidden</h3>
              <p fnt-light fnt-regular>Hidden</p>
              <p rec-p (click)="recipts(site._id)" margin0> Receipts</p>
              <button btn-hides ion-button clear item-end margin0 (click)="openWebsitePage(site)" *ngIf="isBrowser == 'true'">
                 <ion-icon name="eye" fnt20></ion-icon>
              </button>
              <button btn-hides ion-button clear item-end margin0  (click)="edit(site)" *ngIf="isBrowser == 'true'">
                 <ion-icon name="create" fnt20></ion-icon>
              </button>
              <button  btn-hides ion-button clear item-end margin0 (click)="showConfirm(site ,i)" *ngIf="isBrowser == 'true'">
                 <ion-icon name="trash" fnt20></ion-icon>
              </button>
           </ion-item>
           <ion-item-options side="start" *ngIf="isBrowser == 'false'">
              <button btn-hides  ion-button color="secondary" (click)="edit(site)" *ngIf="isBrowser == 'false'">
                 <ion-icon name="create" ></ion-icon>
                 Edit
              </button>
              <button btn-hides ion-button color="danger" (click)="showConfirm(site ,i)" *ngIf="isBrowser == 'false'">
                 <ion-icon name="trash"></ion-icon>
                 Delete
              </button>
              <button  btn-hides ion-button color="primary" (click)="openWebsitePage(site)" *ngIf="isBrowser == 'false'">
                 <ion-icon name="eye"></ion-icon>
                 View
              </button>
           </ion-item-options>
        </ion-item-sliding>
     <p *ngIf="social.length == 0"> No Social Media Added Yet!</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title color="primary">Marketing</ion-card-title>
      </ion-card-header>
      <ion-col col-12 col-md-6 col-lg-4 *ngFor="let market of marketing; let i = index ">

        <ion-item-sliding #item br-lt-grey list-hover>

             <ion-item box-shadow  wallet-main>
                <ion-thumbnail item-start icon-ionic >
                   <img alt="image" class="rounded-circle" src="assets/img/m7.png" style=""  *ngIf="!market.logo">
                   <img alt="image" class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{market.logo}}" style="  "  *ngIf="market.logo">
                   <!-- <ion-icon name="key" text-center></ion-icon> -->
                </ion-thumbnail>
                <h2 fnt-bold>{{market.selectCategory}}</h2>
                <h3 fnt-regular>Hidden</h3>
                <p fnt-light margin0>Hidden</p>
                <p fnt-light margin0> Receipts</p>
                <button btn-hides  ion-button clear item-end margin0 (click)="openWebsitePage(market)" *ngIf="isBrowser == 'true'">
                   <ion-icon name="eye" fnt20></ion-icon>
                </button>

                <button btn-hides  ion-button clear item-end margin0  (click)="edit(market)" *ngIf="isBrowser == 'true'">

                   <ion-icon name="create" fnt20></ion-icon>
                </button>
                <button btn-hides  ion-button clear item-end margin0 (click)="showConfirm(market, i)" *ngIf="isBrowser == 'true'">
                   <ion-icon name="trash" fnt20></ion-icon>
                </button>
             </ion-item>
             <ion-item-options side="start" *ngIf="isBrowser == 'false'">
                <button  ion-button color="secondary" (click)="edit(market)">
                   <ion-icon name="create" ></ion-icon>
                   Edit
                </button>
                <button   ion-button color="danger" (click)="showConfirm(market ,i)">
                   <ion-icon name="trash"></ion-icon>
                   Delete
                </button>
                <button  ion-button color="primary" (click)="openWebsitePage(market)">
                   <ion-icon name="eye"></ion-icon>
                   View
                </button>
             </ion-item-options>
        </ion-item-sliding>
      </ion-col>
      <p *ngIf="marketing.length == 0 ">No Marketing Media Added Yet!</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title color="primary">Store</ion-card-title>
      </ion-card-header>
    
        <ion-item-sliding #item br-lt-grey list-hover *ngFor="let store of others; let i = index ">
           <ion-item box-shadow  wallet-main>
              <ion-thumbnail item-start icon-ionic >
                 <img alt="image" class="rounded-circle" src="assets/img/m7.png" style="  "  *ngIf="!store.logo">
                 <img alt="image" class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{store.logo}}" style="  "  *ngIf="store.logo">
                 <!-- <ion-icon name="key" text-center></ion-icon> -->
              </ion-thumbnail>
              <h2 fnt-bold>{{store.selectCategory}}</h2>
              <h3 fnt-regular>Hidden</h3>
              <p fnt-light margin0>Hidden</p>
              <p fnt-light margin0> Receipts</p>
              <button  btn-hides  ion-button clear item-end margin0 (click)="openWebsitePage(store)" *ngIf="isBrowser == 'true'">
                 <ion-icon name="eye" fnt20></ion-icon>
              </button>

              <button btn-hides   ion-button clear item-end margin0 *ngIf="isBrowser == 'true'" (click)="edit(store)">
                 <ion-icon name="create" fnt20 ></ion-icon>

              </button>
              <button  btn-hides  ion-button clear item-end margin0 (click)="showConfirm(store, i)" *ngIf="isBrowser == 'true'">
                 <ion-icon name="trash" fnt20></ion-icon>
              </button>
           </ion-item>
           <ion-item-options side="start" *ngIf="isBrowser == 'false'">
              <button ion-button color="secondary" (click)="edit(store)">
                 <ion-icon name="create"></ion-icon>
                 Edit
              </button>
              <button ion-button color="danger" (click)="showConfirm(store ,i)">
                 <ion-icon name="trash"></ion-icon>
                 Delete
              </button>
              <button ion-button color="primary" (click)="openWebsitePage(store)">
                 <ion-icon name="eye"></ion-icon>
                 View
              </button>
           </ion-item-options>
        </ion-item-sliding>
     
     <p  *ngIf="others.length == 0 "> No Store Added Yet!</p> 
    </ion-card-content>
  </ion-card>

</ion-content>
