<ion-header modal-white>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Activate License</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(null)"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-row>
<ion-col col-12>  
<form (ngSubmit)="addKey(license_key)">
	<ion-item p-lr-0>     
	<ion-label stacked>License Key</ion-label>
	<ion-input type="text" [(ngModel)] = "license_key" name="license_key" fnt14></ion-input>
  <ion-icon item-end name="close" (click)="clearVal()" class="cross_lk"></ion-icon>
	</ion-item>
	<ion-button type="submit" color="primary" expand="block" >
      <ion-icon name="checkmark" m-r-5></ion-icon>
      <span>Save</span>
   </ion-button>
</form>
</ion-col>
</ion-row>
</ion-content>
