<app-header></app-header>

<ion-row main-breadcrumb ion-fixed style="top:60px">
   <ion-col size="6">
      <ol class="breadcrumb">
         <li (click)="root()"><a>Home</a></li>
         <li (click)="walletPage()"><a>Wallet</a></li>
         <li class="active"><a>Wallets</a></li> 
      </ol>
   </ion-col>
   <ion-col size="6">
      <ion-item lines="none">
        <ion-button slot="end" color="primary" (click)="presentModal($event)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
   </ion-col>
</ion-row>



<ion-content>
  <ion-list margin0>
    <ion-row class="row ">
  <ion-col col-12 col-md-6 col-lg-4  *ngFor="let item of items; let i = index ">
  <ion-item-sliding br-lt-grey list-hover>
      <ion-item   wallet-main >
       <ion-thumbnail item-start icon-ionic >
        <ion-icon name="card-outline" text-center></ion-icon>
        </ion-thumbnail>

        <!-- <h2 fnt-bold>{{item.cardName}} </h2>   -->
       <ion-badge fnt-light>{{item.cardType}}</ion-badge>
        <h3 fnt-regular>{{item.cardHolderName}}</h3>
        <p fnt-light>Hidden</p>
        <p fnt-light>Hidden</p>
        <ion-note my-date item-end fnt12 fnt-light margin0>{{item.expiryDate}}</ion-note>
          <button btn-hides ion-button clear item-end margin0 (click)="openWalletdetailPage(item)" *ngIf="isBrowser == 'true'"><ion-icon name="eye" fnt20></ion-icon></button>
            <button btn-hides ion-button clear item-end margin0 (click)="showConfirm(item ,i)" *ngIf="isBrowser == 'true'"><ion-icon name="trash" fnt20></ion-icon></button>
        </ion-item>
      

      <ion-item-options side="right" *ngIf="isBrowser != 'true'">
        <button ion-button color="danger" (click)="showConfirm(item ,i)"><ion-icon name="trash"></ion-icon> Delete</button>
        <button ion-button color="secondary" (click)="openWalletdetailPage(item)"><ion-icon name="eye"></ion-icon> View</button>
      </ion-item-options>

  </ion-item-sliding>
 </ion-col>
 
    </ion-row>

</ion-list>
  <ion-card>
    <ion-card-content *ngIf="items == ''">
      No Data Found!
    </ion-card-content>
  </ion-card>
</ion-content>
