<app-header></app-header>
<ion-content padding lightgrey has-header>
  <ion-row main-breadcrumb ion-fixed>
    <ion-col>
      <ol class="breadcrumb">
        <li (click)="root()"><a>Home</a></li>
        <li (click)="wallets()"><a>Wallet</a></li>
        <li (click)="password()"><a>Password</a></li>
        <li class="active">Password Detail</li>
      </ol>
    </ion-col>
  </ion-row>
  <div breadcrumb-height></div>
  <ion-row class="row ">
    <ion-col size="12" size-md="6" *ngFor="let arr of newarr">
      <ion-card>
        <ion-list>
          <ion-item>
            <div class="text-center">
            
                <img alt="image"  width="100px"  height="100px" class="rounded-circle" src="assets/img/m7.png"  *ngIf="!arr.logo">
                <img alt="image"  width="100px"  height="100px" class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{arr.logo}}"  *ngIf="arr.logo">
            </div>
            
          </ion-item>
          <ion-text>
            <ion-row>
               <ion-col size="12" size-md="4">
                Name:
               </ion-col>
               <ion-col size="12" size-md="8">
                  <ion-text color="medium">{{arr.name}}</ion-text>
               </ion-col>
            </ion-row>
          </ion-text>
          <ion-text>
            <ion-row>
               <ion-col size="12" size-md="4">
                Username:
               </ion-col>
               <ion-col size="12" size-md="8">
                  <ion-text color="medium" [hidden]= "toggoleShowHide">{{arr.username}}</ion-text>
                  <ion-text color="medium" [hidden]= "!toggoleShowHide">Hidden</ion-text>
               </ion-col>
            </ion-row>
          </ion-text>
          <ion-text>
            <ion-row>
               <ion-col size="12" size-md="4">
                Password:
               </ion-col>
               <ion-col size="12" size-md="8">
                  <ion-text color="medium" [hidden]= "toggoleShowHide">{{arr.password}}</ion-text>
                  <ion-text color="medium" [hidden]= "!toggoleShowHide">Hidden</ion-text>
               </ion-col>
            </ion-row>
          </ion-text>
          <ion-text>
            <ion-row>
               <ion-col size="12" size-md="4">
                Action:
               </ion-col>
               <ion-col size="12" size-md="8">
                  <ion-button color="medium" size="small" (click)="showConfirm(arr)"><ion-icon name="trash"></ion-icon> </ion-button>
                  <ion-button color="medium" size="small" (click)="edit(arr)"><ion-icon name="create"></ion-icon> </ion-button>
               </ion-col>
            </ion-row>
          </ion-text>
          <ion-text>
            <ion-row>
               <ion-col size="12" size-md="4">
                Show/Hide:
               </ion-col>
               <ion-col size="12" size-md="8">
                  <ion-toggle  [(ngModel)]="itemCompleted"  (ionChange)="itemClicked(itemCompleted)"></ion-toggle>
               </ion-col>
            </ion-row>
          </ion-text>
        </ion-list>
      </ion-card>
    </ion-col>
    </ion-row>
    
     <ion-fab right bottom>
      <ion-button color="primary" (click)="presentModal2($event)"><ion-icon name="add"></ion-icon></ion-button>
     
    </ion-fab>
  <div footer-height></div>
  </ion-content>