/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

$darkblack:#424242;
$header-color:#8f98a0;
$ddblue: #0b3378;
$lblue : #c5ddf0;
$darkblue2: #1976d2;
$lightblue: #26dad2;
$darkgrey: #525e6c;
$orange:#ff7d19;
$yellow:#f8b84e;
$br-lt-grey:#e5ebec;
$fnt-white:#fafafa;
$mediumblue:#65a1dc;
$lightblue:#97c0e8;
$none:none;
$whitecolor:#fff;
$level0-color:#ebebeb;
$level1-color:#74B8F5;
$level2-color:#419CEB;
$level3-color:#1186EF;
$level4-color:#036ECC;
$value0:0px;
$value1:1px;
$value2:2px;
$value4:4px;
$value5:5px;
$value6:6px;
$value8:8px;
$value10: 10px;
$value12: 12px;
$value13: 13px;
$value14: 14px;
$value15: 15px;
$value17: 17px;
$value18: 18px;
$value20:20px;
$value22: 22px;
$value25: 25px;
$value30: 30px;
$value40: 40px;
$value45: 45px;
$value50: 50px;
$value55: 55px;
$value60:60px;
$value70: 70px;
$value80: 80px;
$value90:90px;
$value50em:50em;
$value32:32px;
$width700:700px;
$value50:50px;
$value100:100px;
$width600:600px;
$fnt25:2.5em;
$fnt31:3.1em;
$fnt24:2.4rem;
$fnts24:24px;
$value12:12px;
$value-5:5;
$padding24-16:24px 16px;
$padding13-16:13px 16px;
$padding30-20:   30px 20px;
$radius12:12px;
