<app-header></app-header>
<ion-content lightgrey padding has-header trade-mob>
  <ion-row main-breadcrumb ion-fixed> 
    <ion-col *ngIf="from_smail != '1'"> 
      <ol class="breadcrumb">
        <li (click)="root()"><a>Home</a></li>
        <li (click)="goToJobs()"><a>Jobs</a></li>
        <li class="active">{{active_job_breadcrumb}}</li>
      </ol>
    </ion-col>
    <ion-col *ngIf="from_smail == '1'">
      <ol class="breadcrumb">
        <li (click)="root()"><a>Home</a></li>
        <li (click)="backToSmail()"><a>Smail</a></li>
        <li class="active">{{active_job_breadcrumb}}</li>
      </ol>
    </ion-col>
  </ion-row>
  <div breadcrumb-height></div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="3">
        <ion-card class="text-center m-box">
        <div class="circle-tile" (click) = "goTotrades()">
          <a class="tile-head">
            <ion-icon class="icon-wrap" name="apps"></ion-icon>  
          </a>
          <div class="tile-content">
            <h5 fnt-light>Trades</h5>
            <h3 fnt-bold>{{total_trades}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3">
      <ion-card class="text-center m-box">
        <div (click) = "goToContracts()" class="circle-tile">
        <a class="tile-head">
        <ion-icon class="icon-wrap" name="document-outline"></ion-icon>  
        </a>
        <div class="tile-content">
        <h5 fnt-light>Contracts</h5>
        <h3 fnt-bold>{{total_contracts}}</h3>
        <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
        </div>
        </div>
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-md="4" size-lg="3">
      <ion-card class="text-center m-box">
        <div (click) = "goToFiles('0')" class="circle-tile">
          <a class="tile-head">
          <ion-icon class="icon-wrap" name="camera-outline"></ion-icon>
          </a>
          <div class="tile-content">
            <h5 fnt-light>Photos</h5>
            <h3 fnt-bold>{{total_photos}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3">
      <ion-card class="text-center m-box">
        <div (click) = "goToFiles('1')" class="circle-tile">
          <a  class="tile-head">
          <ion-icon class="icon-wrap" name="document"></ion-icon>
          </a>
          <div class="tile-content">
            <h5 fnt-light>Docs</h5>
            <h3 fnt-bold>{{total_docs}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3">
      <ion-card class="text-center m-box">
        <div (click) = "tradeContacts()" class="circle-tile">
          <a class="tile-head">
          <ion-icon class="icon-wrap" name="call"></ion-icon>
          </a>
          <div class="tile-content">
            <h5 fnt-light>Contacts</h5>
            <h3 fnt-bold>{{total_contacts}}</h3> 
            <ion-button color="primary" expand="block" size="small" class="circle-tile-footer" >More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3" [ngClass]="is_any_trade_posted == 0 ? 'grayed_out' : ''">
      <ion-card class="text-center m-box">
        <div (click) = "goToAdendums()"  class="circle-tile">
          <a class="tile-head ">
          <ion-icon class="icon-wrap" name="briefcase"></ion-icon>
          </a>
          <div class="tile-content"> 
            <h5 fnt-light>Adendums</h5>
            <h3 fnt-bold>{{total_adendums}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3" [ngClass]="is_any_trade_posted == 0 ? 'grayed_out' : ''">
      <ion-card class="text-center m-box">
        <div (click)="goToSmails()" class="circle-tile">
          <a class="tile-head">
          <ion-icon class="icon-wrap" name="mail"></ion-icon>
          </a>
          <div class="tile-content">
            <h5 fnt-light>Smail</h5>
            <h3 fnt-bold>{{total_smails}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3" [ngClass]="is_any_trade_posted == 0 ? 'grayed_out' : ''">
      <ion-card class="text-center m-box">
        <div (click)="goToEmails()" class="circle-tile">
          <a class="tile-head ">
          <ion-icon class="icon-wrap" name="mail-open"></ion-icon>
          </a>
          <div class="tile-content ">
            <h5 fnt-light>Email</h5>
            <h3 fnt-bold>{{total_emails}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3" [ngClass]="is_any_trade_posted == 0 ? 'grayed_out' : ''">
      <ion-card class="text-center m-box">
        <div (click) = "goToDownloads()" class="circle-tile">
          <a class="tile-head ">
          <ion-icon class="icon-wrap" name="download"></ion-icon>
          </a>
          <div class="tile-content ">
            <h5 fnt-light>Downloads</h5>
            <h3 fnt-bold>{{total_downloads}}</h3> 
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3" [ngClass]="is_any_trade_posted == 0 ? 'grayed_out' : ''">
      <ion-card class="text-center m-box">
        <div (click)="goToTransmittals()" class="circle-tile">
          <a class="tile-head ">
          <ion-icon class="icon-wrap" name="paper-plane"></ion-icon>
          </a>
          <div class="tile-content ">
            <h5 fnt-light>Transmittals</h5>
            <h3 fnt-bold>{{total_transmittals}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3" [ngClass]="is_any_trade_posted == 0 ? 'grayed_out' : ''">
      <ion-card class="text-center m-box">
        <div (click) = "goToBids()" class="circle-tile">
          <a class="tile-head ">
          <ion-icon class="icon-wrap"><img style="width: 16px;" src="assets/img/bid_icon_white.png"></ion-icon>
          </a>
          <div class="tile-content ">
            <h5 fnt-light>Bids</h5>
            <h3 fnt-bold>{{total_bids}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
  
    <ion-col size="12" size-md="4" size-lg="3" [ngClass]="is_any_trade_posted == 0 ? 'grayed_out' : ''">
      <ion-card class="text-center m-box">
        <div (click)="goToRFIs()" class="circle-tile">
          <a class="tile-head ">
          <ion-icon class="icon-wrap" name="pricetag"></ion-icon>
          </a>
          <div class="tile-content">
            <h5 fnt-light>RFI</h5>
            <h3 fnt-bold>{{total_rfis}}</h3>
            <ion-button color="primary" size="small" class="circle-tile-footer" expand="block">More Info  <ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
          </div>
        </div>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>  <!-- <button ion-button block color="danger" (click)="doCheckbox()">Show Checkbox Alert</button> -->
  <div footer-height></div> 
  </ion-content>