<app-header></app-header>

<ion-row main-breadcrumb ion-fixed style="top:60px">
   <ion-col size="8">
      <ol class="breadcrumb">
         <li (click)="root()"><a>Home</a></li>
         <li (click)="wallet()"><a>Wallet</a></li>
         <li class="active"><a>Passwords</a></li> 
      </ol>
   </ion-col>
   <ion-col size="4">
      <ion-item lines="none">
        <ion-button id="add-password" slot="end" color="primary" (click)="presentModal2($event)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
   </ion-col>
</ion-row>

<ion-content>
   <ion-item-sliding #item  br-lt-grey list-hover *ngFor="let pass of passWordData let i = index ">
      <ion-item   wallet-main>
        <ion-thumbnail item-start icon-ionic >
          <img alt="image" class="rounded-circle" src="assets/img/m7.png"  *ngIf="!pass.logo">
          <img alt="image" class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{pass.logo}}"   *ngIf="pass.logo">
            <!-- <ion-icon name="key" text-center></ion-icon> -->
         </ion-thumbnail>
         <ion-label>
          <ion-row>
            <ion-col size="12" size-md="7">
              <ion-text>
                <h2 class="ion-text-title">{{pass.name}}</h2>
              </ion-text>
              <ion-note color="medium" class="ion-text-wrap">
                Hidden
              </ion-note>
              <ion-note color="medium" class="ion-text-wrap">
                Hidden
              </ion-note>
            </ion-col>
            <ion-col size="12" size-md="5">
              <p class="text-right">
                <ion-button size="small" color="primary" (click)="openPassworddetailPage(pass)" *ngIf="isBrowser == 'true' "> <ion-icon name="eye" fnt20></ion-icon></ion-button>
                <ion-button size="small" color="secondary" (click)="edit(pass)" *ngIf="isBrowser =='true'"> <ion-icon name="create" fnt20></ion-icon></ion-button>
                <ion-button size="small" color="danger" (click)="showConfirm(pass ,i)" *ngIf="isBrowser =='true' "><ion-icon name="trash" fnt20></ion-icon></ion-button>
              </p>
            </ion-col>
          </ion-row>
        </ion-label> 
      </ion-item>
  
      <ion-item-options side="end" *ngIf="isBrowser =='false' ">
        <button ion-button color="danger" (click)="showConfirm(pass ,i)"><ion-icon name="trash"></ion-icon> Delete</button>
        <button ion-button color="secondary" (click)="edit(pass)"><ion-icon name="create"></ion-icon> Edit</button>
            <button ion-button color="primary" (click)="openPassworddetailPage(pass)"><ion-icon name="eye"></ion-icon> View</button>
      </ion-item-options>
  
    </ion-item-sliding>
  <ion-card>
    <ion-card-content *ngIf="passWordData.length == 0">
      No Data Found!
    </ion-card-content>
  </ion-card>

</ion-content>
