<ion-header modal-white>
<ion-toolbar>
	<ion-buttons slot="start">
	</ion-buttons>
	<ion-title>Companies</ion-title>
	<ion-buttons slot="end">
	  <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-row>
	<ion-col col-12>
		<p *ngIf="companies != ''">Add/remove companies under selected email and set job alerts for that company email.</p>
	  <ng-container *ngFor="let company of companies">
	     <ion-grid no-padding>
		   <ion-row br-b-btm>
		    <ion-col size="6">
		      <ion-item  lines="none">
				<ion-checkbox [checked]="selected_comps.indexOf(company?._id) >= 0" (ionChange)="insertContactToArray($event,company._id,0)" ></ion-checkbox>&nbsp;
		        <ion-label>{{company.company_name}}</ion-label>
		      </ion-item>
		    </ion-col>
		    <ion-col  size="6">
		      <ion-list>
		      <ion-item lines="none">
		           <ion-checkbox [checked]="selected_alerts.indexOf(company._id) >= 0" [disabled]="selected_comps.indexOf(company?._id) == -1" (ionChange)="insertContactToArray($event,company._id,1)" item-left value="1" ></ion-checkbox>&nbsp;
				   <ion-label>Job alerts<!--{{company?._id}}-->  </ion-label>
		        </ion-item> 
		     </ion-list>
		   	</ion-col>
		    </ion-row>
		  </ion-grid>
	  </ng-container>

	  <ng-container *ngIf="companies == ''">
	  <ion-item>No companies found.</ion-item>
	  </ng-container>

	  <div padding p-b-0 p-lr-0 *ngIf="companies != ''">
	    <ion-button (click)="save()" color="primary" expand="block" type="button">Save</ion-button>
	  </div>
	</ion-col>
</ion-row>
</ion-content>
